[2015-10-08 14:19] jeffkaufman commented on #1016
Duplicate of #1015; closing.

[2015-10-08 14:19] #1016 closed

[2015-10-08 14:31] jeffkaufman commented on #1015
In normal usage this isn't a problem, because any resources PageSpeed moves onto the mapped proxied domain it will be able to create .pagespeed. resources for, but if you want to set up a server to do IPRO optimization of another server this would be a useful feature.

(This does work in Apache.)

[2015-10-08 14:32] jeffkaufman commented on #1015
Also, in general it's safer if we accept these, in case a CSS file we proxy onto our domain references something relative and we don't manage to rewrite it's url for some reason.

[2015-10-08 18:29] oschaaf commented on #957
@rfnx I had a look at it, and this looks like the same problem as https://github.com/pagespeed/ngx_pagespeed/issues/962 where the stream for the defer javascript file gets cancelled via `HTTP2_SESSION_RST_STREAM` (but now on http/2 instead of spdy).

@jeffkaufman
In https://github.com/pagespeed/ngx_pagespeed/pull/797 we did something to handle RST_STREAM's in the IPRO flow on spdy. It might be wor

[2015-10-08 21:38] jeffkaufman commented on #1005
One important use case here would be no-transform headers.

[2015-10-09 02:19] crowell commented on #983
closing, no info

[2015-10-09 02:19] #983 closed

[2015-10-09 02:20] #1009 closed

[2015-10-09 14:35] oschaaf commented on #957
@rfnx I tried to reproduce by switching to the bleeding edge and configuring nginx as a forward proxy to your website, but no luck. I can reliably reproduce it on https://www.lidocs.me

To help me replicate your setup in more detail, would it be possible to forward (PM) me these things?:
- Full (anonymized) nginx configuration
- The output of `nginx -V`

It would also be useful to have an error.lo

[2015-10-09 15:50] rfnx commented on #957
Ok, I'm already compiling nginx with debug enabled !

But how can I send you MP on GitHub ? You mean by email (the address on your github profile ?) ?

[2015-10-09 16:40] oschaaf commented on #957
@rfnx
Yes, the email address from my github profile would be great, thanks!

[2015-10-09 18:09] rfnx commented on #957
@oschaaf The mail is sent ! (check your spam if you don't see it)

[2015-10-09 22:05] oschaaf commented on #957
`ps_simple_handler` sends out the headers like this, via `send_out_headers_and_body()`:
[code]

Other modules, gzip for example, do it like this:

[code]

Could this be causing the problem with http2/spdy? Looking through `ngx_http_spdy_header_filter` code, it looks like it wouldn't like us writing out the body when `header_only` is set, which is what happens now.

So `ps_simple_handler` should pr

[2015-10-09 22:54] rfnx commented on #957
I'm trying this patch now and the issue seems fixed ! Even on first loading, with clean browser and server cache, the js_defer is loaded correctly and the website works properly :) . Tested on Firefox and Chrome.

Should I try without the first patch, with only the last one ?

[2015-10-10 10:36] oschaaf commented on #957
@rfnx Great! Thanks for testing. As for the two beacons, I sounds like a potential unrelated issue to this one, I'll take a look at that.
Could you create a pull request with the fix? :-)

[2015-10-10 14:32] rfnx commented on #957
Ok I'l try but I'm a noob with github haha.

[2015-10-10 17:14] oschaaf commented on #957
@rfnx great. if you need any help let me know!

[2015-10-10 17:18] rfnx commented on #957
Please tell me if I should also include the first patch you sent (https://github.com/pagespeed/ngx_pagespeed/compare/release-1.9.32.6-beta...oschaaf-1.9.32.6-beta-issue-957?expand=1) ?

[2015-10-10 17:29] oschaaf commented on #957
Re: "Please tell me if I should also include the first patch you sent "
I would prefer to keep the fix minimal for this issue, so no.
I think we want to add the first patch, but later via another separate pull. (because I can't see any good coming from ignoring the return value of `ngx_http_output_filter` and just returning NGX_OK)

[2015-10-10 20:52] rfnx commented on #957
Done ! The first commit referenced here (cd2d1e7) can be deleted, I did a mistake.

[2015-10-13 20:15] rfnx opened #1019 "404 on some assets when UrlSigningKey is enabled."
Hello,

If I enable UrlSigningKey, some assets results in 404 errors. I did some tests with IE 11, Chrome and Firefox and it only happens on images that are rewritten for IE.

These images ends with HASH@2x.extension, unlike other assets that ends with HASH.extension.

Example : HASH@2x.png will results in 404 if UrlSigningKey is enabled.

[2015-10-14 01:50] minibear0523 opened #1020 "make failed with nginx-1.8.0 and nix_pagespeed-1.9.32.10"
[nginx-1.8.0] make                                                                                             9:47:14
make -f objs/Makefile
make[1]: Entering directory `/root/nginx-1.8.0'
cc -c -pipe  -O -W -Wall -Wpointer-arith -Wno-unused-parameter -Werror -g   -Wno-unused-local-typedefs -Wno-error  -I src/core -I src/event -I src/event/modules -I src/os/unix -I /root/ngx_pagespeed/psol/include

[2015-10-14 03:10] crowell commented on #1019
can you give an example page, or at least the source of the page when visited with IE11 and Chrome/Firefox?

is it all .pagespeed resources?

Thanks,
Jeff

[2015-10-14 03:23] crowell commented on #1020
what operating system are you using and what bits (32 or 64).

Are you following the instructions posted or do you have additional flags?

I'm guessing this is a bug in the compiler, but we've built with gcc 4.8 with no issues.

[2015-10-14 03:28] rfnx commented on #1019
You can see it on this page : https://www.lidocs.me
You will see the 404 in your browser tools, and you will see that all the blocks of code in the webpage don't have icon on the top right corner.

It's not all pagespeed resources, only some images I think because css and js works fine. Also, Chrome and Firefox have no issue.

Related question : should I change the location block in nginx from
`lo

[2015-10-14 03:34] minibear0523 commented on #1020
ubuntu 14.04 64bit. Someone say it is the bug with gcc which out of memory...

[2015-10-14 03:34] minibear0523 commented on #1020
My gcc version is 4.8.4(Ubuntu 4.8.4-2ubuntu1~14.04)

[2015-10-14 04:41] minibear0523 commented on #1020
I think I have solved this problem with expand my vps's memory from 512MB to 2GB. Thanks a lot!

[2015-10-14 04:41] #1020 closed

[2015-10-14 05:04] crowell commented on #1019
@rfnx thanks for pointing out the issue in the docs. I'll update that in the morning.

I set my UA string to `Mozilla/5.0 (Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko` in Chrome to masquerade as IE 11, and I don't see any 404.

![img](http://i.imgur.com/HDmkudl.png)

I don't currently have access to a machine with IE 11, and I'll check that tomorrow as well.

Does your server log mention inva

[2015-10-14 05:08] rfnx commented on #1019
There is no error in the ngins error_log. But I can easily see the bug when I'm using a Lumia (Windows Phone) or IE on Windows 10.

[2015-10-14 05:09] crowell commented on #1019
what is the windows 10 IE user agent string? check here http://whatsmyuseragent.com/

[2015-10-14 05:12] crowell commented on #1019
ah, i see, set my UA to `Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36 Edge/12.0` (edge browser) UA, and the beacon posts fail.

[2015-10-14 05:13] rfnx commented on #1019
UA of the Lumia : Mozilla/5.0 (Mobile; Windows Phone 8.1; Android 4.0; ARM; Trident/7.0; Touch; rv:11.0; IEMobile/11.0; NOKIA; Lumia 920) like iPhone OS 7_0_3 Mac OS X AppleWebKit/537 (KHTML, like Gecko) Mobile Safari/537

[2015-10-14 05:14] rfnx commented on #1019
But the beacon does not fail for me, only the assets "xbuttons(...)HASH@2x.png"

[2015-10-14 05:28] crowell commented on #1019
the beacon failing was actually unrelated, it doesn't seem like a UA issue, but actually a renaming issue.

The signature is failing because the `@2x`  is being added (probably by wordpress?) and being counted as part of the signature, and `CountCharacterMismatches` ( https://github.com/pagespeed/mod_pagespeed/blob/4b3fc6d5a175de21a001697fad2a20c9d0ff31bc/pagespeed/kernel/base/string_util.cc#L455

[2015-10-14 05:34] rfnx commented on #1019
You are right, the plugin used for the code blocks is adding @2x for retina screens.

Thanks !

[2015-10-14 05:45] centminmod opened #1021 "ngx_brotli compression support ?"
I just compiled Nginx [ngx_brotli module](https://github.com/google/ngx_brotli) support into my Nginx server https://community.centminmod.com/posts/19601/ with ngx_pagespeed enabled.

Problem:

* https version of my site https://centminmod.com has non-working ngx_pagespeed when viewed in Firefox 44 nightly web browser which supports `Content-Encoding: "br"` - non-working as in no resources are pag

[2015-10-14 14:09] crowell commented on #1019
I'm not really familiar with wordpress plugins or wordpress in general,  but it sounds like the url signing is working as intended, and plugins that change the url in front of pagespeed are just incompatible with this feature.

What plugin is this, so that I can verify the behavior locally?

[2015-10-14 14:14] jmarantz commented on #1019
The plugin is adding that signature in JavaScript?  Is that right?  If it
was being added at HTML generation time then I think PageSpeed would see
that as part of the URL and incorporate it in the signing.

Independent of the signing, I don't think a WP plugin that appends to URLs
in JavaScript will work well with PageSpeed's image optimization.

-Josh

On Wed, Oct 14, 2015 at 1:34 AM, rfnx <notif

[2015-10-14 15:06] jeffkaufman commented on #1021
Verified:

[code]

My guess is that PageSpeed is seeing the html brotli encoded and doesn't know how to decode it.  Ideally the brotli decoding would happen after PageSpeed, like gzip encoding.

I need to build this to test it.

[2015-10-14 15:12] rfnx commented on #1019
The plugin is Crayon Syntax Highlighter : https://wordpress.org/plugins/crayon-syntax-highlighter/

[2015-10-14 15:18] crowell commented on #1021
does the order of execution of the modules change this behavior?

eg `--with-module=/path/to/pagespeed --with-module=/path/to/brotli` vs `--with-module=/path/to/brotli --with-module=/path/to/pagespeed` ?

http://forum.nginx.org/read.php?2,246978,246999

[2015-10-14 15:31] jeffkaufman commented on #1021
That would make sense, except the command they used is:

``` --add-module=../ngx_brotli ... --add-module=../ngx_pagespeed-release-1.9.32.10-beta```

I think either their [config](https://github.com/google/ngx_brotli/blob/master/config) or our [config](https://github.com/pagespeed/ngx_pagespeed/blob/master/config) needs to change to get the order we want.  I think it's us?  We have:

[code]

And br

[2015-10-14 17:12] rfnx commented on #1019
In https://github.com/pagespeed/mod_pagespeed/blob/master/net/instaweb/rewriter/output_resource.cc#L303 , can this change be a solution :
[code]
to
[code]
?

[2015-10-14 17:50] jmarantz commented on #1019
Scanning over the home page for that plugin, I suspect that this is related
to the "retina buttons" feature.  I'm not sure if this is the right URL,
but from looking at your page, I think you should just get PageSpeed out of
the way for the plugin's retina buttons, maybe with this:

  pagespeed Disallow http*://
www.lidocs.me/wp-content/plugins/crayon-syntax-highlighter/css/images/toolbar/buttons.

[2015-10-14 18:29] rfnx commented on #1019
@jmarantz You are right, when I add
`
pagespeed Disallow "https://www.lidocs.me/wp-content/plugins/crayon-syntax-highlighter/css/images/toolbar/buttons.png";
`
the problem is fixed !

It's strange because the problem comes from buttons@2x.png, not buttons.png, and if I replace the previous pagespeed configuration with
`
pagespeed Disallow "https://www.lidocs.me/wp-content/plugins/crayon-syntax-hig

[2015-10-14 18:37] jmarantz commented on #1019
This is because PageSpeed runs on your server and sees <img
src="buttons.png"/>.  PageSpeed does not see the URL as modified in the
client by the plugin JS.  The disallow is processed on your server.

-Josh

On Wed, Oct 14, 2015 at 2:29 PM, rfnx <notifications@github.com> wrote:

[2015-10-14 18:41] rfnx commented on #1019
@jmarantz Thanks for your explanation. But don't you think, like @crowell said, that pagespeed should stop checking at the end of the computed signature ?

[2015-10-14 19:00] jmarantz commented on #1019
Making the C++ change you suggested probably makes the signature-test
pass.  However there's still a functional problem with adding "@2x" to a
pagespeed-rewritten image.  I haven't sorted out all the ways that can
fail, but at a minimum, PageSpeed will ignore the "@2x" part of the URL in
that case, and you will not get the "retina" functionality.

PageSpeed might also 404 the request (even with th

[2015-10-15 01:51] poiuty opened #1022 "memcached unix socket"
Better use unix socket for localhost connect. But now not work (or my mistake?)
[code]

In error.log
[code]

[2015-10-15 01:53] poiuty commented on #1022
https://github.com/pagespeed/mod_pagespeed/issues/760

[2015-10-15 08:09] oschaaf commented on #1021
@jeffkaufman On trunk-tracking, we also have https://github.com/pagespeed/ngx_pagespeed/commit/a8141eadd3e22a66fcbc5dacecf97b9669c3a5ef
We might want to consider defaulting to 'HTTP_AUX_FILTER_MODULES`, and let people have more control over the module positioning?

From the nginx forum [1]:
[code]
[1] http://forum.nginx.org/read.php?2,152699,152727#msg-152727

[2015-10-15 10:32] jeffkaufman commented on #1021
`HTTP_AUX_FILTER_MODULES` does sound like the right place for us, but then we need to be very clear in our documentation about where people should put us in the ordering.  "After all other modules manipulating content, but before any modules compressing content" is kind of complex to get across.

[2015-10-15 10:51] jeffkaufman commented on #1022
Yes, we're tracking this in pagespeed/mod_pagespeed#760

[2015-10-15 10:51] #1022 closed

[2015-10-15 15:55] PiotrSikora commented on #1021
@jeffkaufman: maybe inject pagespeed filter right after postpone filter instead of right before gzip?

[2015-10-15 21:49] centminmod commented on #1021
or maybe you could just echo and inspect $HTTP_FILTER_MODULES values and check for ngx_brotli module if it exists, sed replacement after ngx_http_brotli_filter_module module instead of after $HTTP_GZIP_FILTER_MODULE - is would just a simple IF or ELSE ?

[2015-10-16 01:07] poiuty opened #1023 "recompress_images not work with cyrillic url"
/upload/123123sfsdf.jpg => work
get => /upload/123123sfsdf.jpg.pagespeed.ic.hae-ZFT29R.webp

/upload/тест.jpg => not work
get => /upload/тест.jpg without recompress_images

[2015-10-16 05:51] bharadwaj6 commented on #891
This issue comes up for me too! Any solutions/workarounds for this?

[2015-10-16 09:42] oschaaf commented on #891
@bharadwaj6 This issue only occurs in debug builds, so one thing you could try is running a release build.

[2015-10-16 10:58] oschaaf commented on #1023
@poiuty I don't think that PageSpeed's underlying html parser currently supports cyrillic, so optimizing resources referenced in html via urls containing cyrillic characters will not happen right now.

The good news is that In-place optimization [1] for those resources with cyrillic names will work.
[1] https://developers.google.com/speed/pagespeed/module/system#ipro

[2015-10-16 15:45] jeffkaufman commented on #1023
Character encodings are a bit of a mess: the encoding metadata we see may not be the metadata the browser sees.  I believe what we do is work on anything where characters below 127 are ascii, which includes ascii utf8.  Supporting utf8 urls, though, might not be too bad an extension?  This would be nice to add.

But yes, as @oschaaf says, this isn't a misconfiguration on your part, it's a PageSpee

[2015-10-16 16:35] jmarantz commented on #1023
Clarification: The html parser tries to be encoding-agnostic so it can work
with markup in Russian and Chinese charsets without transcoding to utf8,
which would take cpu, increase latency, and possibly increase data size
served to the browser.

The limitation on this system is that we cannot reliably manipulate
non-ascii URLs and send them into an http fetch system, so right now we
don't try, even

[2015-10-16 16:48] jeffkaufman commented on #1023
Would it work to stick with the current system up to identifying the bytes corresponding to the url, and them fetch that over the network as-is (well, with url-encoding)?  And then if that works append ".pagespeed.FILTER.HASH.EXT" (as usual) to the bytestream?

The idea is, I'm not sure we actually need to know what the encoding of the page is, as long as it's one of the ones where printable ascii

[2015-10-18 12:35] IanLewis commented on #542
I'm having a similar issue. What do you mean by "config https"?

[2015-10-18 18:47] jmarantz commented on #542
See https://developers.google.com/speed/pagespeed/module/https_support

[2015-10-19 03:33] IanLewis commented on #542
Yah. I read that. I enabled RespectXForwardedProto and pagespeed stopped all rewriting.

[2015-10-19 15:37] Angristan opened #1024 "Cache purge and admin"
Hi,

To delete the pagespeed's cache, I delete everything in /var/ngx_pagespeed_cache, is it ok ?

And how to enable the pagespeed admin page with Nginx ?

thanks

[2015-10-19 16:57] jmarantz commented on #1024
No, that is not a good way to purge cache.  Use the admin page purge
function.  See this page for admin page setup:

https://developers.google.com/speed/pagespeed/module/admin
On Oct 19, 2015 11:37 AM, "Angristan" <notifications@github.com> wrote:

[2015-10-19 18:39] Angristan commented on #1024
I have to put this in my server block ?

`pagespeed StatisticsPath /ngx_pagespeed_statistics;
pagespeed GlobalStatisticsPath /ngx_pagespeed_global_statistics;
pagespeed MessagesPath /ngx_pagespeed_message;
pagespeed ConsolePath /pagespeed_console;
pagespeed AdminPath /pagespeed_admin;
pagespeed GlobalAdminPath /pagespeed_global_admin;`

[2015-10-19 18:49] jmarantz commented on #1024
You also need the 'location' blocks as discussed in the doc.

[2015-10-19 18:49] #1024 closed

[2015-10-19 19:00] Angristan commented on #1024
I get `nginx: [emerg] "pagespeed" directive "GlobalStatisticsPath" cannot be set at this scope. in /etc/nginx/global/pagespeed.conf:40"`

[2015-10-20 11:45] oschaaf commented on #1024
@Angristan `GlobalStatisticsPath` and `GlobalAdminPath` can only be set at the `http{}` level, not in a `server{}` block.

[2015-10-20 17:37] jeffkaufman commented on #542
Does `pagespeed Domain https://YOURSITE` fix it?

[2015-10-21 09:44] nikolay opened #1025 "ProcessScriptVariables does not work"
The Nginx configuration snippet:

[code]

The error I get is:

[code]

[2015-10-21 10:10] oschaaf commented on #1025
@nikolay I can't reproduce that using a simple configuration that includes the lines you mention.
The error message implicates that `ngx_http_script_compile()` indicated failure [1].

Are you sure that `pagespeed LoadFromFileMatch "^https?://$host/" "$document_root/";` is at line number 874 in `nginx.conf`, and is the one that fails?

If so, I'd love to have your (anonymized) configuration to help

[2015-10-21 10:14] nikolay commented on #1025
@oschaaf Yes, exactly. Sorry for the confusion, but my configuration is huge and I just wanted to include the relevant settings.

[2015-10-21 10:34] oschaaf commented on #1025
I tried a few things, but I still can't reproduce the error message. To speed up reproduction/debugging, would it be possible to forward me an (anonymized) copy of the failing `nginx.conf`?

[2015-10-21 10:40] nikolay commented on #1025
@oschaaf I will email it to you.

[2015-10-22 09:45] Angristan commented on #1024
I get `nginx: [emerg] "gzip_types" directive FileCachePath must be set in /etc/nginx/nginx.conf:51`
The ligne 51 is the laste line of my http block (with } )

[2015-10-22 09:58] oschaaf commented on #1024
I think configuring a `FileCachePath` in the `http{}` block will fix that. For example:

[code]

[2015-10-22 13:08] Angristan commented on #1024
In fact, I have a pagespeed.conf file that I include in only one server block. I don't want to use it for the others. And "pagespeed FileCachePath" is already defined in this conf file.

[2015-10-22 13:25] jmarantz commented on #1024
Can you put the FileCachePath and "pagespeed off;" in the http block, and
then turn it on in the location block where you want it?

On Thu, Oct 22, 2015 at 9:08 AM, Angristan <notifications@github.com> wrote:

[2015-10-22 13:32] Angristan commented on #1024
It seems to work ! But I get a 403 error on /pagespeed_admin

[2015-10-22 13:35] Angristan commented on #1024
Ok, with "allow all" it works (not a great solution ^^')

[2015-10-22 18:55] ozra commented on #327
I've made a download-sources-and-compile script that works flawlessly in Ubuntu 15 (my local machine), but not on my Debian 8 VPS - where I get above error. I've tried countless different compile approaches from the net, but they all fail the same way on the VPS. Differences in bash handling of line breaks or something?

[2015-10-22 19:33] zarza commented on #1012
Thank you for your update Oschaaf. After some changes we got it working. Thank you again!

[2015-10-22 19:33] #1012 closed

[2015-10-22 19:44] jeffkaufman commented on #327
Can you paste your script?

[2015-10-22 19:49] ozra commented on #327
Hope I got it right after all the changes back and forth:

[code]

[2015-10-22 19:52] ozra commented on #327
It's a cut n paste from different sources and changed bit by bit till working kind-of-stew. I think the snips are small enough to not be a license problem. This is free to use in any way as long as I'm not held responsible, and all that kahuna.

[2015-10-22 19:55] jeffkaufman commented on #327
Can you add to the top:

    set -e

This will make the script stop if any of the individual commands fails, which should let us see where the problem is.  I suspect something is going wrong earlier in the process, and then things later don't see what they expect.

[2015-10-22 19:57] ozra commented on #327
Eh, did you see my edit in the comment above? The ABI flag solved the problem...

[2015-10-22 20:05] jeffkaufman commented on #327
Makes sense, thanks for reporting what works!

@morlovich is currently working on getting us working with C++11.

[2015-10-22 20:09] ozra commented on #327
I wasted so many hours on this server, so I'm happy to save some one else the trouble. Not the favourite debugging to do ;-)

[2015-10-22 22:24] jmarantz commented on #1015
See https://groups.google.com/forum/#!topic/ngx-pagespeed-discuss/IuMfDTtz8sg for a related problem

[2015-10-23 12:47] jeffkaufman commented on #1024
Instead of `allow all` for `/pagespeed_admin` you can use nginx access control rules to limit it by accessing IP or pasword: https://www.nginx.com/resources/admin-guide/restricting-access/

[2015-10-24 03:12] ranbokun commented on #1004
@centminmod nginx-1.9.5 fix it？

[2015-10-24 03:15] skynet commented on #1004
@ranbokun We got this version installed but didn't get as far as trying to reproduce this particular bug.

[2015-10-24 04:42] ranbokun commented on #1004
@skynet
some code of my nginx server block
[code]
It seems the pagespeed is no working.

[code]

[2015-10-24 18:21] kbi-user opened #1027 "Cross-browser optimization fails"
Hi,

nginx: 1.9.5
pagespeed: 1.9.32.10-beta

browsers:

    Firefox 41.0.2
    Chrome 46.0.2490.80 m

issue:
1. The website itself serves "wrong css". Esspecially the <img> width and height attributes are square (500x500), but the images themelf are rectangles (570x320). Basically images are resized according the css values (1:1) instead of the original image proportions (57:32).
2. Durign optimiz

[2015-10-24 23:53] kbi-user commented on #1027
The problematic css only contains one statement:
@import "css/styles.min.css";

Apparently pagespeed simply removes the import and therby drop the styles.min.css file.

[2015-10-24 23:58] jmarantz commented on #1027
A few bugs have been fixed, including a spin-loop in the memcached interface, in the latest beta: 1.9.32.10-7423.

Please upgrade to that and see if it fixes these issues.

This fixes a spin-look (https://github.com/pagespeed/mod_pagespeed/issues/1048).  Note that's on the mod_pagespeed issues list, but the memcached interface code is shared.

The other bug looks like https://github.com/pagespeed/

[2015-10-24 23:58] #1027 closed

[2015-10-25 00:55] kbi-user commented on #1027
The filter "resize_rendered_image_dimensions" should superceed "resize_image".
- Resize image basically looks for the css width and height and resizes accordingly resulting in stretches etc.
- Resize_rendered_image_dimension should discover the rendered size in the browser (without looking at css OR image attribute).

In fact the filter resize_rendered_image_dimensions resizes an image exactly acc

[2015-10-25 12:23] jmarantz commented on #1027
Can you provide an example where resize_rendered_dimensions is not working?

Our example appears to work:

http://modpagespeed.com/resize_rendered_dimensions/image_resize_using_rendered_dimensions.html?PageSpeed=on&PageSpeedFilters=resize_rendered_image_dimensions

On Sat, Oct 24, 2015 at 8:55 PM, kbi-user <notifications@github.com> wrote:

[2015-10-25 14:45] kbi-user commented on #1027
Takes a day since I corrected the php-code of the theme. I will revert the changes and drop a life example.

[2015-10-27 04:24] centminmod commented on #1004
@ranbokun was fixed in nginx http/2 alpha patch ver 2 onwards, so final 1.9.5 already works fine - running nginx 1.9.5 + nginx pagespeed + http/2 for my forums https://community.centminmod.com/ :)

[2015-10-27 12:52] oschaaf commented on #1015
I created pull requests with changes to make this work for nps (note there's also an MPS side to this).
If the new 'trusted_input' flag in `ProxyFetch` is not a good idea and another approach would be better, I'd love to hear that.

[2015-10-27 16:39] #957 closed

[2015-10-27 18:00] jeffkaufman commented on #1015
LGTM.  I'll merge this along with the apache side of the change once I finish running internal tests.

[2015-10-27 18:10] skynet commented on #1004
@centminmod excellent thank you!

[2015-10-28 18:01] mlimaloureiro opened #1029 "RespectXForwardedProto not working properly"
Hi this issue is very similar to this one https://github.com/pagespeed/ngx_pagespeed/issues/819.

My env consists in application servers (ec2 instances) behind an ELB where the ssl termination occur. So the HTTPS request is made to the load balancer, which then internally requests the EC2 instance over HTTP.

An example of what's happening is:

1. user makes a POST request over HTTPS.
2. the reque

[2015-10-28 18:28] oschaaf commented on #1029
@mlimaloureiro Could you try patching in https://github.com/pagespeed/ngx_pagespeed/commit/26a0c37b973a532b18f01c54f79598bd66bb546b to see if that fixes the problem?

[2015-10-29 10:04] mlimaloureiro commented on #1029
thanks @oschaaf going to check

[2015-10-29 21:46] mlimaloureiro commented on #1029
@oschaaf yep, works perfectly when patching https://github.com/pagespeed/ngx_pagespeed/commit/26a0c37b973a532b18f01c54f79598bd66bb546b any reason for this not being merged ?

[2015-10-30 07:13] oschaaf commented on #1029
@mlimaloureiro Thanks for reporting back. I haven't made a pull request for this yet, because:
- I couldn't reproduce https://github.com/pagespeed/ngx_pagespeed/issues/819 in the exact same scenario, so I had a suspicion that this would fix it but wasn't 100% sure. Your confirmation helps greatly here.
- https://github.com/pagespeed/ngx_pagespeed/commit/26a0c37b973a532b18f01c54f79598bd66bb546b is

[2015-10-30 07:13] #1029 closed

[2015-10-30 17:04] HeikoMamerow opened #1032 "./configure: error: C compiler cc is not found"
Hi,
trying to build new nginx (1.9.6) - but i run in trouble:

When i run `./configure` (with or without add-module) , then i receive this:

    checking for OS
     + Linux 4.2.0-16-generic x86_64
    checking for C compiler ... not found

    ./configure: error: C compiler cc is not found

The `build-essential` package is installed.
`which cc` => `/usr/bin/cc`
`cc --version` => `cc (Ubuntu 5.2.1

[2015-10-30 17:10] crowell commented on #1032
what is the output of `which cc` and `cc --version`

error go away if you do something like `export CC=gcc` or whatever compiler before running `./configure`?

[2015-10-30 17:20] HeikoMamerow commented on #1032
`which cc` => `/usr/bin/cc`
`cc --version` => `cc (Ubuntu 5.2.1-22ubuntu2) 5.2.1 20151010`

`export CC=gcc` brings nothing (also tryining other comiloers)

[2015-10-30 17:23] crowell commented on #1032
is /tmp mounted as noexec? that could cause this issue.

On Fri, Oct 30, 2015 at 1:21 PM, Heiko Mamerow <notifications@github.com>
wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-10-30 19:03] HeikoMamerow commented on #1032
I'm not sure if I understand correctly:

`df -h /tmp` => `/dev/vda1`
`mount | column -t` => `/dev/vda1   on  /                                type  ext3        (rw,relatime,data=ordered)`

...This means noexec?

[2015-10-30 19:27] crowell commented on #1032
you can test this by putting a shellscript in /tmp and trying to execute
it, or what is the output of

`mount | grep tmp`

On Fri, Oct 30, 2015 at 3:03 PM, Heiko Mamerow <notifications@github.com>
wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-10-30 19:35] HeikoMamerow commented on #1032
`mount | grep tmp`

    udev on /dev type devtmpfs (rw,nosuid,relatime,size=1008104k,nr_inodes=252026,mode=755)
    tmpfs on /run type tmpfs (rw,nosuid,noexec,relatime,size=204880k,mode=755)
    tmpfs on /dev/shm type tmpfs (rw,nosuid,nodev)
    tmpfs on /run/lock type tmpfs (rw,nosuid,nodev,noexec,relatime,size=5120k)
    tmpfs on /sys/fs/cgroup type tmpfs (ro,nosuid,nodev,noexec,mode=755)
    tm

[2015-10-30 19:47] HeikoMamerow commented on #1032
Yes, i can execute a script in /tmp

[2015-11-01 11:01] chromafunk opened #1033 "Looking for an image filter that is bugging me"
Hi guys, I set up some image filters to maximize their optimization but there is one bugger filter that is picking images inside an slider and resizing them, lowering their resolution and then stretching them to fit the slider container. What is the filter that does this ?  I am using :

pagespeed EnableFilters lazyload_images;

pagespeed LazyloadImagesAfterOnload off;

pagespeed EnableFilters mov

[2015-11-01 18:39] jeffkaufman commented on #1033
Can you try:

    pagespeed DisableFilters resize_images;

`rewrite_images` turns on `resize_images` by default, so to turn it off you need to explicitly disable it; commenting it out isn't enough.

[2015-11-01 23:05] jmarantz commented on #1033
What Jeff said will work.  In your case, however, you might also consider
leaving resize_images on, but disallowing the particular url of the
distorted image, using "ModPagespeedDisallow url_wildcard".

I'm curious to see why it's distorted.  Are there width/height tags on the
'img' that are being overridden by styles in a CSS class or other rule
external to the tag?  If so, it might be correct to

[2015-11-02 05:05] GlassWater opened #1034 "When the script is in body, pagespeed is not working."
hi!

i have a trouble when the script is in body. if i put including a javascirpt file to body not head, pagespeed don't put eval().

my source is below.

<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
...
...
...
<script src="/resources/v3/js/lib,_rsvp.min.js+require-config.min.js.pagespeed.jc.1nRnj5BxDw.js"><

[2015-11-02 15:01] jeffkaufman commented on #1034
Could you share link to your site? PageSpeed should only be inserting `var mod_pagespeed_r0p4NsvReV=` when combining js, and when it does that it should insert the appropriate evals after.

[2015-11-02 15:04] jeffkaufman commented on #1034
`common.min.js,Mjc.hzwp-4wjof.js.pagespeed.jm.-bpRNPGeGg.js` is a very strange url for PageSpeed to generate: it implies that it "combined" one file (and then minified it).

[2015-11-02 21:33] Joostvanderlaan commented on #895
I'm having the same in my logs for a later version:
2015/11/02 21:30:14 [info] 30278#0: [ngx_pagespeed 1.9.32.6-7321] No threading detected. Own threads: 1 Rewrite, 1 Expensive Rewrite.

[2015-11-02 22:35] Joostvanderlaan opened #1036 "Running an experiment on a https:// site will insert http:// analytics tags"
Hi, I'm running an experiment on a https site, however the analytics tags inserted by the experiment plugin are inserted only using http://
To be precise: ga.src = 'http://www.google-analytics.com/ga.js';
I had a look at the documentation, but couldn't find any solution there.

[2015-11-03 02:34] GlassWater commented on #1034
Thank you, your reply. like you said, It would seem that common.min.js is combined. even one file.
First, i had to disallow the file(common.min.js) from pagespeed. then this is no longer a problem.

but i want to know the cause of this problem. maybe, this problem will be cleared up, it's nice work.

our web site is http://www.mobirum.com . you can find the file-"/resources/v3/js/common.min.js"

[2015-11-03 13:46] oschaaf commented on #1036
@Joostvanderlaan If your SSL terminator is (capable of) forwarding a `X-Forwarded-Proto` header to your webserver, you might want to take a look at https://developers.google.com/speed/pagespeed/module/https_support#RespectXForwardedProto

[2015-11-03 23:55] chromafunk opened #1037 "Images getting stretched, don't know exactly wich filter is doing it ?"
sorry double posted, didn't see that you actually answered. Thanks and sorry !

[2015-11-04 12:01] #1037 closed

[2015-11-04 12:05] chromafunk opened #1038 "Pagespeed caching breaks javascript"
I am on a Wordpress site, some of the javascript files are malfunctioning after caching. I am not sure if its the CSS's not loading correctly or the Javascripts being disrupted. Can you send me some light to see what's up ? Not sure what filter is causing it. I am also using cloudflare. Here are my filters :

pagespeed on;

# Needs to exist and be writable by nginx.  Use tmpfs for best performance

[2015-11-04 12:21] chromafunk commented on #1038
Seems that the cached version is a version where part of a relevant .js is is still not loaded ?

[2015-11-04 12:52] chromafunk commented on #1038
I just tested disabling cloudflare first, then deactivating and cleaning the cache of pagespeed and all is back to normal. So cloudflare seems to not be the issue, Is there any way to debug or fine tune wich filter can be causing this ?

[2015-11-04 13:09] jmarantz commented on #1038
Can you describe in more detail the symptom you observed on your site?
That might help us identify which filter is causing trouble.

Another approach is to start with PassThrough and enable filters one at a
time until the problem appears.  In your case if you feel the problem is
JavaScript related, you can just focus on the three filters with
"javascript" in their name.

Of the filters you've enab

[2015-11-04 13:34] chromafunk commented on #1038
For example, at the home page there is a background row with a youtube video on full screen. The video and text does not show up. There is also a cart box made with Jquery that slides down when you hover over it, and it is completely out as if it was locked open on hover. Other Jquery navigational interfaces don't load either.

[2015-11-04 13:39] jmarantz commented on #1038
Try turning defer_javascript off.

On Wed, Nov 4, 2015 at 8:34 AM, chromafunk <notifications@github.com> wrote:

[2015-11-04 13:42] chromafunk commented on #1038
Actually, just before posting this, defer_javascript was off already.  It was maybe the combine javascript one then ? I will try it out.

[2015-11-04 16:02] chromafunk commented on #1038
It finally was rocket loader @Cloudflare ... What is rocket loader exactly ? Defer Parsing of JS ?

[2015-11-04 19:19] #1038 closed

[2015-11-05 11:43] slavonnet opened #1039 "broken image load"
Error is - "Content-Length:1"

Remote Address:87.255.28.227:80
Request URL:http://www.open-bs.ru/upload/iblock/b17/docr11c.jpg
Request Method:GET
Status Code:206 Partial Content
Response Headers
view source
Cache-Control:max-age=315360000
Connection:keep-alive
Content-Length:1
Content-Range:bytes 87345-87345/146008
Content-Type:image/jpeg
Date:Thu, 05 Nov 2015 11:29:24 GMT
ETag:"562f853f-23a58"
Ex

[2015-11-05 11:51] slavonnet commented on #1039
bug present only if add

thread_pool default threads=32 max_queue=65536;
aio threads=default;

to nginx

[2015-11-05 11:51] oschaaf commented on #1039
I could reproduce the bad content length with http://www.open-bs.ru/upload/iblock/b17/docr11c.jpg, but now I can't, did you fix something?

[2015-11-05 11:57] slavonnet commented on #1039
bug present only if add

thread_pool default threads=32 max_queue=65536;
aio threads=default;

to nginx

[2015-11-09 15:46] roman01la opened #1040 "Getting ERR_CONNECTION_CLOSED with pagespeed enabled"
Hello. I'm getting `ERR_CONNECTION_CLOSED` error when doing HTTP POST request to a server with ngx_pagespeed. I've tried `pagespeed RewriteLevel PassThrough;` option which I believe disables all filters, but the issue is still presented. The error is gone when PageSpeed module is turned off.

I'm running `Nginx 1.9.6` with `ngx_pagespeed 1.9.32.10-beta` and `--with-http_v2_module`, and Node server

[2015-11-09 16:35] morlovich commented on #1040
Hi... Is there any chance you are have the same issue as this thread?
https://groups.google.com/forum/#!topic/ngx-pagespeed-discuss/flaK-tpDPUk

On Mon, Nov 9, 2015 at 10:46 AM, Roman Liutikov <notifications@github.com>
wrote:

[2015-11-09 20:37] roman01la commented on #1040
@morlovich It works, thanks a lot! I'll just put here a short manual, extracted from the thread, for others.

- Go to Nginx source directory and execute `make clean` command.
- Create file `patch.diff` with the following contents
[code]

- Execute `patch -p1 < patch.diff` command.
- Build Nginx as usual.

[2015-11-09 20:37] #1040 closed

[2015-11-10 15:20] sirshurf opened #1041 "How to configure ngx_pagespeed with srcache???"
I have NGINX as reverce proxy for Apache...
I was not able to add this mod on the Apache due to configuration limitation (Questions asked in mod_pagespeed threds...)

In my nginx I am using memcache as a caching mechanism for the requests like this:

        location / {

            set $key $http_host$request_uri$mobile_rewrite;
            srcache_fetch GET /memc $key;
            srcache_store

[2015-11-10 18:42] jeffkaufman commented on #1041
srcache is for caching subrequests, right?  ngx_pagespeed doesn't apply to subrequests, and instead only processes the complete request.  If you want to cache the output of that you can use proxy_cache: https://developers.google.com/speed/pagespeed/module/downstream-caching

[2015-11-10 19:18] sirshurf commented on #1041
Proxy_cache means that the pagespeed is one level below the nginx... in my case in Apache and I was not able to configure it there for now...

[2015-11-10 21:15] jeffkaufman commented on #1041
Sorry, it's not clear to me what you're trying to do here.  If you explain more I might be able to help?

[2015-11-11 06:51] sirshurf commented on #1041
Thanks, What I would like, is to be able to cache the results of PageSpeed, so I will be able to server them better (if it's needed... )

Right now I have an NGINX that is caching with srcache responce of proxy_pass.

[2015-11-11 07:29] sirshurf opened #1043 "How to Explide domain from operation??"
Let's say I have multiple sub domains an I have this rule:

pagespeed Domain *.example.org;

But the problem is that one of the subdomains I would like to exclude for example images.example.org (this domain is on external CDN, like Amazon)

Is there something like:

pagespeed DomainExlude *.example.org;

?

[2015-11-11 11:16] oschaaf commented on #1043
There's https://developers.google.com/speed/pagespeed/module/restricting_urls
For example, you could configure:
[code]

[2015-11-11 11:17] #1043 closed

[2015-11-11 11:27] jeffkaufman commented on #1043
Note that in general you don't need to set `Domain` manually.  If you're running a site on `www.example.com` then PageSpeed will assume it has permission to modify anything on `www.example.com`.  You only need `Domain` if you want `www.example.com` to be willing to rewrite `a.example.com`, `b.example.com` etc.

[2015-11-11 11:30] jeffkaufman commented on #1041
If you want to cache the output of PageSpeed you need to have another cache server (varnish, proxy_pass, etc) between PageSpeed and the user, sorry!  You can do this within the same nginx process by moving most things to one port (N) and then having port 80 proxy back to port N with caching.

If you want to cache resources this works out-of-the-box but if you want to cache html too there's some se

[2015-11-11 14:03] sirshurf opened #1044 "Randomly working/not working prioritize_critical_css"
I have enabled prioritize_critical_css.

Now what I can see is that, when I check with PageSpeed I sometimes see it and sometimes I do not, and I see Eliminate render-blocking JavaScript and CSS in above-the-fold content.

Any Ideas?

[2015-11-12 21:19] jeffkaufman commented on #1044
How much traffic does your site get?  Just your debugging requests or is it getting requests from a lot of people?

(If it's just your debugging or otherwise has very low traffic then the cached information about what css is critical will go stale and you'll have occasional requests without it seeming enabled.)

[2015-11-13 20:23] jeffkaufman commented on #981
Dup of https://github.com/pagespeed/mod_pagespeed/issues/1050

[2015-11-15 11:20] sirshurf commented on #1044
The website as a general and this webpage has a LOTS' of traffic... I was checking on the busies page I have...

[2015-11-15 11:21] sirshurf commented on #1043
But I am running a website with lots of sub domains and sub-sub domains so this is something that is important to me.

[2015-11-16 12:09] sirshurf commented on #1044
Any ideas?
This is making me mad..... I am not able to fix this! and I do not understand why it's going on.

[2015-11-16 14:29] jeffkaufman commented on #1044
It's possible you're running out of cache and the information about what css rules are critical is being evicted.  Is your cache at it's default size?  How big is your site: how many bytes and how many webpages?

[2015-11-16 14:37] jeffkaufman commented on #1043
Let's say you want to allow pagespeed to optimize resources on all subdomains of example.org except images.example.org and scripts.example.org.  Then you can use Otto's suggestion:

[code]

[2015-11-16 14:41] sirshurf commented on #1044
The website is HUGE and yes I am usigng default cache settings, but have increased them some a few hours ago...
Only I am using memcache for it not filecache
here are my settings

# Needs to exist and be writable by nginx.  Use tmpfs for best performance.
pagespeed FileCachePath /var/cache/ngx_pagespeed;
pagespeed FileCacheSizeKb            1024000;
pagespeed FileCacheCleanIntervalMs   3600000;
pa

[2015-11-16 14:44] sirshurf commented on #1043
But will this work for sub-subdomains?
For example:

I have domains:
en.example.com
a.en.example.com
b.en.example.com
c.en.example.com

And I would like to exclude images.en.example.com

Will this work?

[2015-11-16 14:45] jeffkaufman commented on #1044
How big are your memcached servers combined?  The `FileCacheSizeKb` doesn't have much of an effect if you're running with memcached.  (When running memcached only object over 1MB are put in the file cache.)

[2015-11-16 14:46] jeffkaufman commented on #1043
Yes, that should work for subdomans:

[code]

[2015-11-16 14:49] sirshurf commented on #1044
They are actually couchbase via moxi
The size of the bucket is: 2.37GB / 3.9GB

I can give you access to the ngx_pagespeed statistics if this will help...

[2015-11-16 23:19] #1021 closed

[2015-11-17 14:41] sirshurf commented on #1044
Maybe there is some conflict with Cloudflare which is serving my content?

[2015-11-17 15:43] jmarantz commented on #1044
If you tell mod_pagespeed to connect its memcached client to a couchbase
server, I'm not sure what will happen in terms of timeouts.  The default
timeout for mod_pagespeed's memcached connection is 50ms, which usually is
fine for memcached but might not be adequate for couchbase, and you might
need to increase it.  See
https://developers.google.com/speed/pagespeed/module/system#memcached for a
des

[2015-11-17 18:01] nikolay commented on #1041
@jeffkaufman you had the regular expressions in the Downstream Caching Configurations before to recognize the different browsers. You removed that not to have to duplicate in the documentation? Is it safe to use your snippets from https://github.com/pagespeed/ngx_pagespeed/blob/master/test/pagespeed_test.conf.template - are they kept up-to-dat?

[2015-11-18 10:20] sirshurf commented on #1044
Another point I can see here, is that I see in my HTML in view-source ones some of the elements area dded (like dns prefetch, or image inline...).

Couchbase in memcached mode works more or less like memcached itself... I will try to see any error's in the logs and then increase the timeout to 100 just to check it.

[2015-11-18 10:22] HeikoMamerow commented on #1032
I could find help here: http://askubuntu.com/a/347472

Typing: `export PATH="/usr/bin:$PATH"` in the terminal before executing `./configure [...]`

[2015-11-18 10:22] #1032 closed

[2015-11-19 16:27] jeffkaufman commented on #1041
Keeping them up to date is exactly the problem.  To figure out the original fragments we looked at the interaction between what features we supported on different browsers and what market share each browser had in order to figure out a number of cache fragments that would give the best optimizations to as many browsers as possible.  As browsers change, though, we'd need to rerun this, but it was a

[2015-11-19 21:48] nikolay commented on #1041
@jeffkaufman So you guys hid the implementation details so that people can completely give up on implementing it? :smile: I've been using this for 3 years already and I remember suggesting you to implement a variable or some statement to grab the browser class, which you already detect on your end. This is gonna be a DRY approach and maybe much smaller effort than having everybody implement and ke

[2015-11-25 08:59] sirshurf commented on #1044
OK, after a few tests and checks, it looks like the issue is indeed in Couchbase MOXI connection.

What I see is that it's failing for some reason and getting back, but since it's failed PageSpeed has 30 seconds or so while it waits.

I have installed single MemcacheD and it looks like it's working ok no.

What could be the reason for Couchbase based memcached ????

[2015-11-25 10:16] sirshurf opened #1049 "How does pagespeed decide what memcached server to ask?"
Lets say I have a few memcached servers, by what logic does pagespeed ask them for informaiton?

[2015-11-25 10:44] oschaaf commented on #1049
PageSpeed selects a memcached server from the configured pool of memcached servers based on a hash of the key involved for the memcached operation it wants to perform.

The hash algorithm can be found over here:
https://github.com/pagespeed/mod_pagespeed/blob/master/third_party/aprutil/apr_memcache2.c#L634

For the specifics of using that hash to pick a memcached server for the operation about to

[2015-11-25 11:16] sirshurf commented on #1049
YES thank you!!!! Very much!!!!!

[2015-11-25 11:16] #1049 closed

[2015-11-25 13:56] #942 closed

[2015-11-25 14:45] jmarantz commented on #1044
Pagespeed sets a deadline on its cache requests because a slow cache isn't
much help if you are trying to make web pages fast.  But the deadline can
be changed in your configuration.

Memcached is generally very fast when connected directly over a fast LAN to
your nginx instance.  I don't know much about couchbase but it's possibly
that it exchanges speed for persistence.

Josh
On Nov 25, 2015 3:5

[2015-11-26 12:42] sirshurf commented on #1044
The problem is for all principal things Couchbase is a drop-in replacement for Memcache...
And all benchmark I have seen say that the connection speed is practically the same as Memcache with the addition of replication/persistence, that is working in background operations.
So yes, it is strange to me that while adding Timeout to 100 I was still getting timeouts.

In any case, case closed. PageSpe

[2015-11-26 13:28] sirshurf opened #1051 "How to configure cloudfront cdn."
I have a website sitting on a domain example.com.

And most of the  files sit on an amazon s3.
Over the s3 I gave CF distribution with subdomain images.example.com

but the images served unoptimised and if I start the optimization it fails since the subdomain images.example.com does not have file .pagespeed.HASH that pagespeed optimised.

It is possible to set a rewrite rule that will forward all

[2015-11-26 15:12] oschaaf commented on #1051
@sirshurf Could you clarify what a `CF distribution` means?

[2015-11-26 15:46] jmarantz commented on #1044
I'm not sure what you mean by "connection speed", but the specific thing
pagespeed is looking for is the response time for requests.

Note that couchbase might have a very good average response latency but
frequently the requests take longer than average.  I can imagine that if it
is relying on persistent storage to service a percentage of responses that
each of those might be relatively slow.

Yo

[2015-11-26 22:44] Redani opened #1052 "Mod pagespeed questions"
Hi,

I have already posted in google forums and didn't get any answer, hope i'll get some info in here:

I've just installed pagespeed and i'm kindda impressed how powerful it is, but i have some questions coz i still need to do so many adjustment to make my website completely compatible with this module!!

1- I had in my htaccess a rule to force trailing slash:
RewriteCond %{REQUEST_URI} /+[^\.]+

[2015-11-27 19:42] oschaaf opened #1053 "Nginx + Gzip Static + Modpagespeed"
From https://groups.google.com/d/msgid/mod-pagespeed-discuss/ac4d7690-a361-4964-85e9-4e6aafd12d28%40googlegroups.com?utm_medium=email&utm_source=footer

I am running Nginx 1.9.7 with modpagespeed (see version info below).  Modpagespeed is working correctly.  However, if I set 'gzip_static always;', static .gz files are not served when they are present.  If I set 'pagespeed off;' then the gzip_stat

[2015-11-29 08:16] sirshurf commented on #1044
I have played with it, and with 200MS I was getting the same errors. So I decided to switch to regular Memcached for pagespeed elements.

But using the memc module for NGINX caching I have timeout at 50ms, and it works there without a problem.

So I do think the problem is in Pagespeed and not on the Couchbase side.

[2015-11-29 08:17] sirshurf commented on #1051
CloudFront sorry :)

[2015-11-29 12:29] oschaaf commented on #1051
If you could pass on .pagespeed. urls from CloudFront to the origin which runs PageSpeed optimization you could get this to work by also listening to the CloudFront domain (images.example.com) on the origin webserver, and subsequently configuring PageSpeed to also optimize for that domain, by configuring something like:
[code]

One concern I have is that I wonder if the rewrite rule you would add

[2015-11-29 14:09] jmarantz commented on #1044
What do the histograms look like?

Can you paste the screenshot of http://YOURSITE/pagespeed_admin/histograms
after you click on 'memcache_hit_latency' when connected to real memcache
vs couchbase?

E.g. you can see similar histograms for modpagespeed.com at
http://modpagespeed.com/pagespeed_admin/histograms.  That demo site doesn't
use memcached but you can see similar histograms there for the
sh

[2015-11-29 20:02] oschaaf commented on #1023
Looks like another report for this issue: https://groups.google.com/forum/#!topic/ngx-pagespeed-discuss/kiCujxpzQaE

[2015-11-29 20:17] isaumya opened #1054 "WordPress visual editor issue with pagespeed"
Hey guys,
I've been starts using pagespeed on my nginx server and I see a very wired thing after enabling pagespeed with default settings. When I go to wordpress post or page edit section, the visual editor doesnt show up. It looks like this:

![2015-11-30_1-46-07](https://cloud.githubusercontent.com/assets/2124755/11459773/493f02b6-9704-11e5-9754-2c7768daf3bc.jpg)

Any idea why this is happeing a

[2015-11-29 20:29] oschaaf commented on #1054
This looks like a duplicate of https://github.com/pagespeed/ngx_pagespeed/issues/957, which was fixed via https://github.com/pagespeed/ngx_pagespeed/commit/acb89a840cc87969b22e9d9b3449992376af2a40

It looks like the latest release does not include that change, but you could patch that change in yourself to fix the issue (it is a very small patch).

[2015-11-29 20:34] isaumya commented on #1054
Thanks @oschaaf, can you give me the patch link so that I can send it to my server admin and he can install it. Thanks for your kind help.

[2015-11-29 20:38] oschaaf commented on #1054
@isaumya Sure, here you go:
https://github.com/pagespeed/ngx_pagespeed/commit/acb89a840cc87969b22e9d9b3449992376af2a40.patch

[2015-11-30 03:19] jmarantz commented on #1052
Hi -- these are all good questions but it makes more sense to ask them in the mod_pagespeed discussion group:  https://groups.google.com/forum/#!forum/mod-pagespeed-discuss

I'm not sure what google forums you posted to, but that's the right one, and I didn't see your questions in there.

[2015-11-30 03:19] #1052 closed

[2015-11-30 06:56] JoyceBabu commented on #1005
I am unable to use the new `crossorigin="anonymous"` attribute for script tag, because of the missing headers. Firefox will not evaluate the scripts without the correct CORS headers. Is there an ETA for this feature?

[2015-11-30 13:06] LukeMauldin commented on #1053
Setting "pagespeed inPlaceResourceOptimization off;" allowed the gzip_static directive to work.  So this issue only occurs when inPlaceResourceOptimization is on.

[2015-11-30 14:09] morlovich commented on #1053
Are affected files all css and js, or was anything else affected?

On Mon, Nov 30, 2015 at 8:06 AM, LukeMauldin <notifications@github.com>
wrote:

[2015-11-30 14:20] jmarantz commented on #1053
"Setting the option "pagespeed inPlaceResourceOptimization off;" allowed the gzip_static directive to work.  What are the disadvantages to setting this to off?"

If you set this off, only resources whose URLs found in CSS and HTML markup can be rewritten, by changing their URLs.  However I want to point out that I think this doesn't really fix the problem.

If I understand correctly, you have zopf

[2015-11-30 14:21] jmarantz commented on #1053
Title was: Nginx + Gzip Static + Modpagespeed

[2015-11-30 15:18] LukeMauldin commented on #1053
Thanks.  I only tested .js files.  Did not test .css files.

[2015-11-30 15:26] LukeMauldin commented on #1053
What tagged version should I be looking for that includes these fixes?

[2015-11-30 16:10] jeffkaufman commented on #1053
@LukeMauldin 1.10.33.0 will have these fixes, when it's released.

[2015-11-30 16:13] jeffkaufman commented on #1005
No one is currently working on this, sorry!

[2015-11-30 21:41] jeffkaufman commented on #1015
Fixed with becc2f6

[2015-11-30 21:45] #1015 closed

[2015-11-30 21:49] jeffkaufman commented on #1005
You're right though, that this should be higher priority.  I've pushed it up higher on https://github.com/pagespeed/mod_pagespeed/wiki/BugFix-Prioritization

[2015-12-01 07:10] JoyceBabu commented on #1005
Is there any work around for this?

[2015-12-01 09:12] oschaaf commented on #1005
There might be a workaround, this patch moves ngx_pagespeed's module position: https://gist.github.com/oschaaf/f9f71f493da928f07dba

Patching in that change moves ngx_pagespeed in the module order so that you can override headers for pagespeed resources like this:
[code]

trunk-tracking has a change that allows you to position ngx_pagespeed like this through an option. Over there, this change pass

[2015-12-01 09:42] JoyceBabu commented on #1005
@oschaaf It failed for me with the following message

[2015-12-01 10:21] oschaaf commented on #1005
@JoyceBabu Sorry, I pasted the wrong patch, that one was for the `master` branch.
I updated it to work for `ngx_pagespeed-release-1.9.32.10-beta`, could you try again?

[2015-12-01 10:46] JoyceBabu commented on #1005
@oschaaf Thank you. I have manually edited the `config` file and applied the changes. It is now working correctly.

Should I try again with the new patch?

[2015-12-01 10:55] oschaaf commented on #1005
@JoyceBabu If the new patch looks correct when you compare it to your changes in your `config` file you don't need to try again as far as I'm concerned.
Are you able to set the headers now?

[2015-12-01 11:25] JoyceBabu commented on #1005
I tried the new patch and it also throwing an error, even though the patching itself is successful

[2015-12-01 11:26] JoyceBabu commented on #1005
Looks like it is just a warning
http://unix.stackexchange.com/questions/1395/what-does-patch-unexpectedly-ends-in-middle-of-line-mean

[2015-12-01 13:17] oschaaf commented on #895
@jeffkaufman
The patch below (applies to `trunk-tracking`) defers execution of `cfg_m->driver_factory->Init()` to after configuration parsing is complete,  and properly forwards the noisy startup messages to `error.log`.
However, it crashes nginx when I attempt to run the system tests, because the explicit shared mem cache configuration causes  `SystemCaches::CreateShmMetadataCache()` to be called

[2015-12-02 02:10] HomeTriangle commented on #1004
@centminmod We are also using the same combo.
 nginx 1.9.5 + nginx pagespeed + http/2 . Working smooth. Getting 100ms improvement in page rendering

[2015-12-02 03:29] skynet commented on #1004
@HomeTriangle Nginx is already at 1.9.7: http://nginx.org/en/CHANGES

[2015-12-02 07:42] JoyceBabu commented on #1005
The cross origin headers are being duplicated for pagespeed optimized resources. For example, I am getting `Access-Control-Allow-Origin: *, *` instead of `Access-Control-Allow-Origin: *`. For original file, the header is correct.

[2015-12-02 08:11] oschaaf commented on #1005
@JoyceBabu Do you have `headers-more` available? If you use `more_set_headers` instead of `add_header` I think that the duplication will be gone.

[2015-12-03 14:27] HomeTriangle commented on #854
Something weird

For following non cdn url
Example: url https://xxxxxx.com/assets/images/xppp.jpg.pagespeed.ic.86t0ggC3IT.jpg

for the first time it gives - Cache-Control: max-age=300,private
Some times after 2-3 refresh it gives max-age=31536000

[2015-12-03 14:40] HomeTriangle opened #1058 "Getting cache-control:max-age=300,private"
While accessing optimized resources we are getting
Getting cache-control:max-age=300,private

**Headers:**
cache-control:max-age=300,private
content-length:4062
content-type:image/webp
date:Thu, 03 Dec 2015 14:30:09 GMT
expires:Thu, 03 Dec 2015 14:35:09 GMT
last-modified:Thu, 03 Dec 2015 14:30:09 GMT
server:nginx/1.9.7
status:200
x-page-speed:1.9.32.10-7423

**Config:**
pagespeed Domain https://xx

[2015-12-04 21:43] Belelros commented on #745
:+1:

Just came to this issue too. The docs say to use `pagespeed FetchHttps enable;` but I've added that and it doesn't seem to ever change to `https`. Besides that, I don't see the point on not using `https` for everything since that's the accepted pattern nowadays, right?

[2015-12-05 20:52] A-David commented on #777
Any updates?

[2015-12-06 20:58] sirshurf commented on #1051
I ended up removing cloudfront for now...

Maybe I will get it back later on.

[2015-12-07 01:01] deweydb opened #1059 "NGINX Proxy Cache Example for PS-CapabilityList?"
I'm looking to setup separate caches based on capabilities, along the lines of what is described here:
https://developers.google.com/speed/pagespeed/module/downstream-caching#ps-capabilitylist

I found an example for Varnish 4:
https://github.com/pagespeed/ngx_pagespeed/issues/737#issuecomment-53244286

But I am wondering if there are any examples in the wild for nginx proxy cache?

From what i un

[2015-12-07 01:20] deweydb commented on #1059
My best attempt at converting the varnish vcl to nginx. not sure if this works though:

	# Define placeholder PS-CapabilityList header values for large and small
	# screens with no UA dependent optimizations. Note that these placeholder
	# values should not contain any of ll, ii, dj, jw or ws, since these
	# codes will end up representing optimizations to be supported for the
	# request.
	set $def

[2015-12-07 02:31] deweydb opened #1060 "All HTML pages "remembering not-cacheable status for xxx seconds.""
I'm using ngx_pagespeed module (1.9.32.10-7423) with nginx 1.9.7.  I'm using nginx's built in proxy cache.  My config is at the bottom of this post.

I followed this guide for downstream caches:
https://developers.google.com/speed/pagespeed/module/downstream-caching

This guide seems to suggest making all HTML pages return with the header:
add_header Cache-Control "no-cache, max-age=0";

Is this t

[2015-12-07 14:38] jeffkaufman commented on #928
Looking at this again; was this with LoadFromFile?  Typically with IPRO we do use the origin cache lifetime on served resource.  With LoadFromFile you need to set this; that's `LoadFromFileCacheTtlMs`, but looking now I think we need to write doc for that.

[2015-12-07 15:14] jeffkaufman commented on #777
It looks like this will probably be an intern project for this summer.

[2015-12-08 05:37] JoyceBabu commented on #928
Yes, it was from LoadFromFile.

Is `LoadFromFileCacheTtlMs` used only for client side caching? If the original resource is modified, will PS detect it and re-optimize the new image before the TTL expires?

[2015-12-08 08:44] oschaaf commented on #895
@morlovich See the comment above, any thoughts on deferring the call to `SystemCaches::CreateShmMetadataCache()` to `SystemRewriteDriver::RootInit()`?
I'm hoping that doing so would allow us to call `cfg_m->driver_factory->Init();` a little later in nps, which helps in fixing this issue.

[2015-12-08 11:54] behnoodk commented on #1023
Is there any way to know if development team has any plans to fix/implement this in near future releases?
our site is getting ready for production and it would great if we knew whether we will be able to use pagespeed or not?
we have Arabic/Persian characters in almost all our URLs, which makes pagespeed unusable for us right now.

[2015-12-08 13:53] jmarantz commented on #1023
@Jeff "would it work to take the bytes from the HTML attribute value and
send them to the network"?   Not in all cases; there can be HTML escapes in
there that would need to be decoded before fetching.  E.g.
"foo.jpg&amp;attr=value".  BTW the encoding in the .pagespeed. URL is not a
problem; we can easily comma-escape any non-ascii characters.  The problem
is when we try to initiate the HTTP fetch

[2015-12-08 14:36] jmarantz commented on #928
Correct; this is just for passing a TTL to clients.  The underlying system
still stat()s the file on every request to see if it actually changed.

On Tue, Dec 8, 2015 at 12:37 AM, Joyce Babu <notifications@github.com>
wrote:

[2015-12-08 14:44] #928 closed

[2015-12-08 15:26] behnoodk commented on #1023
@jmarantz yes, characters that build up a URL are retrieved from db which is utf-8 encoded.
I hope I understood your question correctly.

[2015-12-08 18:07] chromafunk commented on #787
Hi guys, is this modification to the config still valid, or are the docs updated already ? I am trying to implement Varnish with mod_pagespeed now. And, another question, if I am running Nginx as an SSL terminator ---> Varnish ---> Pagespeed --->Nginx, do I have to use :

#Enable HTTPS

pagespeed FetchHttps enable; ?

As Varnish can't handle HTTPS ?

[2015-12-08 19:20] chromafunk opened #1062 "Varnish documentation valid ?"
Are the docs for Varnish 4 on the documentation site updated already ? I am trying to implement Varnish with mod_pagespeed now. And, another question, if I am running Nginx as an SSL terminator ---> Varnish ---> Pagespeed --->Nginx, do I have to use :

#Enable HTTPS

pagespeed FetchHttps enable; ?

As Varnish can't handle HTTPS ?

[2015-12-09 05:31] JoyceBabu commented on #928
Thank you for the clarification @jmarantz.

In that case, isn't it better to set the `max-age` to a large value?

[2015-12-09 10:42] #1062 closed

[2015-12-09 10:52] chromafunk opened #1063 "Nginx, Varnish 4 + Pagespeed"
Hi team !

I am doing Nginx as an SSL terminator ---> Varnish ----> Nginx + mod_pagespeed.

Varnish works very well with this config, got a good hit rate, the problem is that pagespeed is not being able to fetch from Varnish ? I have the console up and I am getting data but something tells me that pagespeed is not being able to fetch, as a symptom, I have seen a page processed with mod_pagespeed o

[2015-12-09 11:07] oschaaf commented on #1063
@chromafunk To keep things simple I would configure ngx_pagespeed to perform loopback fetches over http in this case. That would mean you would no longer need
[code]

Instead you'd have something like:

[code]
Alternatively, you might be able to use `LoadFromFile` instead of `MapOriginDomain` if all the css/js/images are static files on disk, which would be even better:

https://developers.google.

[2015-12-09 11:44] chromafunk commented on #1063
Hi Otto, I just did what you suggested, but I am still not getting optimized pages, this is the typical response header when I get a page :

accept-ranges:bytes
age:0
cache-control:max-age=900
content-encoding:gzip
content-length:10206
content-type:text/html; charset=UTF-8
date:Wed, 09 Dec 2015 11:32:19 GMT
server:nginx/1.9.7
status:200
vary:Accept-Encoding
x-cache:HIT
x-cache-hits:20
x-page-speed

[2015-12-09 11:54] oschaaf commented on #1063
@chromafunk Did you flush Varnish's cache before retrying?

Could you try to temporarily replace this varnish configuration piece:
[code]

With

[code]

That helps ensuring that optimized html does come through when the html is not being cached by Varnish. If that works, then the problem scope narrows down to why the html isn't being purged from Varnish by ngx_pagespeed. If optimization doesn't wo

[2015-12-09 12:08] chromafunk commented on #1063
Whoops ! You were right. Varnish is now bypassing hits, I only get misses but pagespeed is not delivering optimized pages .... I don't get it though, I made a very simple mod_pagespeed this time for testing purposes only. Seems that it is not working.

[2015-12-09 12:56] oschaaf commented on #1063
@chromafunk you have:

[code]

I wrote `nginx_origin_host` as an example, you need to substitute that with the actual host name you are using - sorry!

[2015-12-09 14:19] morlovich commented on #895
Sorry, what's the call path to CreateShmMetadataCache that's causing
trouble?

On Tue, Dec 8, 2015 at 3:45 AM, Otto van der Schaaf <
notifications@github.com> wrote:

[2015-12-09 14:24] chromafunk commented on #1063
Hi Otto, I understand this has to be the originator ? On this case, the SSL terminator domain ?

I have added changed :
pagespeed MapOriginDomain "http://127.0.0.1" "https://domain.com";
pagespeed RespectXForwardedProto on;

But still no results

[2015-12-09 14:27] oschaaf commented on #895
@morlovich explicitly configuring `CreateSharedMemoryMetadataCache` results in the following backtrace during startup (with https://github.com/pagespeed/ngx_pagespeed/issues/895#issuecomment-160966501 applied) [1].

[1]

[code]

[2015-12-09 14:33] oschaaf commented on #1063
@chromafunk The "https://domain.com" in your configuration above needs to be equal to the "Host:" header that nginx/ngx_pagespeed will receive for the incoming requests.

[2015-12-09 14:39] morlovich commented on #895
Oh, right. Not sure how I managed to miss the cross-reference in
code-search. Well, in principle it's doable, but part of what Create....
does is produce an error message during config parsing (and in Apache at
least, failing in this way would
IIRC connect the message to the specific config line), so it would take
quite a bit of refactoring to maintain that and do the rest of
initialization correc

[2015-12-09 14:49] chromafunk commented on #1063
I only changed the domain name on the example to hide it, but I am actually using the real domain, the main domain I am using for this website. Seems that there are hits :

cache_backend_hits	536	1

but the pages are not being delivered ...

[2015-12-09 20:35] jeffkaufman commented on #1023
Added to https://github.com/pagespeed/mod_pagespeed/wiki/Work-Prioritization

[2015-12-09 20:43] jeffkaufman commented on #787
doesn't look like https://developers.google.com/speed/pagespeed/module/downstream-caching has been updated, sorry!

@oschaaf before I go figure this all out, do you know what change need to make to the docs?

[2015-12-09 21:44] oschaaf commented on #787
@jeffkaufman summarizing what I know:
- We should remove `return (deliver)`  from `vcl_fetch` (for 3.0) and `vcl_backend_response` (for 4.0), to allow the built-in VCL to execute.
- We should also move the setting of `Cache-Control: no-cache, max-age=0` for html out of `vcl_fetch` and into `vcl_deliver` (which runs post-cache).

Not discussed here, but if we make these changes I also think that th

[2015-12-09 22:20] oschaaf opened #1064 "Multiple Vary headers emitted"
On trunk-tracking, we somehow end up emitting three `Vary: Accept-Encoding` headers.

[code]

nginx.conf:

[code]

[2015-12-09 23:37] oschaaf commented on #1063
@chromafunk The docs for setting up Varnish with downstream caching needs to updated, which is tracked in https://github.com/pagespeed/ngx_pagespeed/issues/787

You could try reflect the upcoming vcl modifications in the docs in your configuration, see https://github.com/pagespeed/ngx_pagespeed/issues/787#issuecomment-163403583

It is a bit tricky for me to do them for you in your configuration ri

[2015-12-10 00:23] chromafunk commented on #787
We are trying to figure out this issue, seems that mod_pagespeed does not work properly on this situation. A pastebin of an actual mimicked Varnish 4 + mod_pagespeed configuration and its relevant issue can be found at #1063

[2015-12-10 08:10] oschaaf commented on #1063
@chromafunk
I think the proposed changes to the docs would make the downstream caching configuration change like this for your configuration:

[code]

Complete file: https://gist.github.com/6d7c812bbf6e79d06e48
Note that this removes the unconditional `return (deliver);` from `vcl_backend_response`, which you should only do if the *only reason* that was in there was for the downstream cache setup.

[2015-12-10 09:09] chromafunk commented on #1063
Hi Otto, after replacing for changed conf :

Message from VCC-compiler:
'beresp.http.Content-Type': Not available in method 'vcl_deliver'.
At: ('input' Line 382 Pos 7)
  if (beresp.http.Content-Type ~ "text/html") {
------########################-----------------

[2015-12-10 09:15] oschaaf commented on #1063
@chromafunk whoops, sorry!

In vcl_deliver, you have `resp` not `beresp`.
So you need to change the line that fails to this:
`if (resp.http.Content-Type ~ "text/html") {`

[2015-12-10 09:31] chromafunk commented on #1063
Hi Otto, I actually have "beresp.http.Content-Type"

When I change it to be a resp I get this :

Message from VCC-compiler:
'beresp.http.Cache-Control': cannot be unset in method 'vcl_deliver'.
At: ('input' Line 383 Pos 12)
     unset beresp.http.Cache-Control;
-----------#########################-

Running VCC-compiler failed, exited with 2

[2015-12-10 09:33] oschaaf commented on #1063
For that line, and the next one, you also need to change `beresp.` to `resp.`

[2015-12-10 11:51] chromafunk commented on #1063
Hi Otto, after extensive testing, purging cache multiple times, it is still not working correctly. Only one javascript file is being shown on the resulting html but none of the other optimizations are there. When I purge all caches and restart Varnish and Nginx, only the first time I load a page I get them with the optimizations. After that they are not being retrieved anymore.

[2015-12-10 14:20] oschaaf commented on #1063
@chromafunk can I take a look at the site somewhere?

[2015-12-10 14:42] jmarantz commented on #1023
Yeah I think it makes sense in particular to work on this for utf-8 first.
I'm still not 100% sure what we have to do to utf-8 encoded URLs before
passing them to the Serf fetcher.

On Wed, Dec 9, 2015 at 3:35 PM, Jeff Kaufman <notifications@github.com>
wrote:

[2015-12-10 15:27] chromafunk commented on #1063
Seems that after adding and configuring pagespeed LoadFromFile to the pagespeed conf it works .... why ?

[2015-12-10 15:41] oschaaf commented on #1063
@chromafunk If configuring `LoadFromFile` solved your problem, then somehow http(s) fetching was failing. Perhaps there was something wrong with the `MapOriginDomain` configuration, it's hard to tell - you'd have to inspect nginx's `error.log` for hints about that.

[2015-12-10 19:32] rfnx opened #1066 "nginx with pagespeed does not compile with gcc 5.3.0"
Hello,

Since the gcc 5.3.0 update on Archlinux (see https://www.archlinux.org/news/c-abi-change/), I can't compile pagespeed. The problem occurs with version 1.9.32.10 and the new 1.9.32.11.

Here is the log :
[code]

And the objs/autoconf.err contains this :
[code]

If you want the complete file : http://pastebin.com/QpF4UfnR

[2015-12-10 19:38] crowell commented on #1066
@rfnx can you try building with the instructions here https://github.com/pagespeed/ngx_pagespeed/issues/942 ?

[2015-12-10 19:40] crowell commented on #1066
see this commit (isn't in 1.9.32.11, just on trunk tracking) https://github.com/pagespeed/ngx_pagespeed/pull/1048/files

[2015-12-10 20:10] rfnx commented on #1066
Unfortunately, the commit https://github.com/pagespeed/ngx_pagespeed/pull/1048/files did not work for this problem.

autoconf.err end :
[code]

[2015-12-10 20:18] morlovich commented on #1066
I see, looks like it didn't actually pass it in to the configure tests.
That's what I get for only testing this with a compiler that doesn't need
it.
I think I commented on config tests not getting the same flags somewhere
else, looking it up.

On Thu, Dec 10, 2015 at 3:10 PM, rfnx <notifications@github.com> wrote:

[2015-12-10 20:22] morlovich commented on #1066
Could you please also try adding a line saying
CC_TEST_FLAGS=="$CC_TEST_FLAGS -D_GLIBCXX_USE_CXX11_ABI=0"
in ngx_pagespeed/config file at line 86, right where the patch added new stuff?

On Thu, Dec 10, 2015 at 3:18 PM, Maksim Orlovich <morlovich@google.com> wrote:

[2015-12-10 20:33] rfnx commented on #1066
It still does not work.

Now, my config file looks like this :
[code]

[2015-12-10 20:35] crowell commented on #1066
@rfnx should be a single `=` for the `CC_TEST_FLAGS` line

[2015-12-10 20:39] rfnx commented on #1066
I didn't see the double `=` . Now it works :)

[2015-12-10 21:00] #1066 closed

[2015-12-10 21:22] oschaaf commented on #895
I think it's possible to init ngx_pagespeed's logging earlier during startup, which also eliminates the `No threading detected` message and any other future messages emitted during this phase in starting up.
I need to make sure of a few things before I create a pull request out of this, but I just dumped state here:
https://github.com/pagespeed/ngx_pagespeed/tree/oschaaf-trunk-tracking-log-debug-n

[2015-12-10 23:42] deweydb commented on #1064
Not sure if related, but i was having this issue when i had: gzip_vary on; in my http block, instead of the server block.

[2015-12-10 23:48] deweydb opened #1068 "Client IP is sent to downstream with Cache Purge request, instead of upstream pagespeed ip."
I have nginx as a downstream caching proxy.  When pagespeed emits a cache purge to the downstream, the original client IP is sent with it.  Example from my logs:

    172.218.???.??? - - [10/Dec/2015:18:38:51 -0500] "GET /purge/storage-auctions/affordable-mini-storage/unit-120 HTTP/1.1" 200 330 "https://dev.bid13.c
om/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3) AppleWebKit/537.36 (KHTML, li

[2015-12-11 01:57] deweydb commented on #1060
This was my misunderstanding on how to configure the module properly. Please ignore.

[2015-12-11 01:57] #1060 closed

[2015-12-11 02:20] deweydb opened #1069 "400 Bad Request - Request Header Or Cookie Too Large"
With firefox, in some of my drupal admin pages, google pagespeed is making this monster sized cookie. that is causing nginx to barf this out.

![screen shot 2015-12-10 at 6 13 22 pm](https://cloud.githubusercontent.com/assets/885167/11734286/a90b114e-9f6a-11e5-809f-01a6c1510e05.png)

Is there any way to limit the page speed cookie size?

[2015-12-11 02:23] deweydb commented on #1069
Fixed by adding special condition in nginx:

large_client_header_buffers 4 32k;

[2015-12-11 02:23] #1069 closed

[2015-12-11 04:13] centminmod opened #1070 "dealing with content security policy (CSP) for defer js ?"
I am debugging my CSP in report only mode on my forums and was wondering how to deal with ngx_pagespeed and defer js ?

Blocked URI	null
Violated directive	script-src
Document URI	https://community.centminmod.com/
Referrer	https://community.centminmod.com/threads/event-processing-delay-issue.5249/
Source file	https://community.centminmod.com/pagespeed_static/js_defer.pbrP1whUgE.js

violated-direct

[2015-12-11 14:16] morlovich commented on #895
On Thu, Dec 10, 2015 at 4:22 PM, Otto van der Schaaf <
notifications@github.com> wrote:

Don't have enough context to comment on change itself, but
initing-logging-earlier sounds like the
best approach, yes.

Perhaps, though you're getting far more sophisticated than my line of
thought --- which was basically
"we should probably have > 1 thread of each kind in nginx, since it has a
lot of parallel

[2015-12-11 21:56] deweydb commented on #891
I'm using the master branch and experiancing this issue. I reviewed the 6 commits between master and .11 and i don't see how any of those commits could impact this.  I would like to stay on master because i need on of the recent commits because it fixes an issue we experienced.  Is there any way to stay on master but not have this issue?

nginx: worker process() [0x4f2e29]
nginx: worker process()

[2015-12-11 22:05] oschaaf commented on #891
@deweydb in a release build, this doesn't happen.

[2015-12-11 22:07] deweydb commented on #891
Sorry if this is a dumb question, by release build do you mean using this source:
https://github.com/pagespeed/ngx_pagespeed/archive/release-1.9.32.11-beta.zip
??  Or where do i get the release build from?

[2015-12-11 22:10] oschaaf commented on #891
@deweydb leaving out `--with-debug` when you `./configure` nginx will make ngx_pagespeed link against the release build.

[2015-12-11 22:21] deweydb commented on #891
Thanks!

[2015-12-11 23:14] oschaaf commented on #1064
@jeffkaufman is this worthy of being on the work-prioritization list?

[2015-12-11 23:23] deweydb commented on #1059
For anyone else that runs into this, I found some very nice examples from the test file:
https://github.com/pagespeed/ngx_pagespeed/blob/master/test/pagespeed_test.conf.template

[2015-12-11 23:23] #1059 closed

[2015-12-12 01:22] chromafunk commented on #1063
Ok Otto, seems that with LoadFromFile is working, so I will close this. Thank you !

[2015-12-12 01:37] chromafunk opened #1073 "Domain sharding problem !"
Nginx as SSL terminator ---> Varnish ---> Pagespeed ---> Nginx -- CDN

When I do domain sharding :

[code]
Only image assets ( jpg, png's ) are giving an error, the URL is not rewritten to the cdn sharded domains for them :

[code]

[2015-12-12 02:20] deweydb commented on #1073
I was stuck on this for a while as well. make sure your html from upstream contains the exact match.  for example you did:
pagespeed ShardDomain https://domain.com
                      https://1.domain.com,https://2.domain.com,https://3.domain.com,https://4.domain.com;

So, double check your html really has https://domain.com in it, and not say http://domain.com

Also, if re-writing doesn't compl

[2015-12-12 02:48] chromafunk commented on #1073
The HTML is coming as https as I am doing

[code]

And I am afraid that mod_pagespeed is working correctly, as I have been able to even make real time changes to CSS files while not with CDN config only ( ginx as SSL terminator ---> Varnish ---> Pagespeed ---> Nginx )

[2015-12-12 03:36] deweydb commented on #1073
Did you test cache purge? is it working? Show me logs of it working.

[2015-12-12 10:47] oschaaf commented on #1063
great, closing!

[2015-12-12 10:47] #1063 closed

[2015-12-12 13:46] chromafunk commented on #1073
Is there a way if the purging works without having to purge all caches manually ?

[2015-12-12 22:38] oschaaf commented on #1073
@chromafunk re "The problem is, the purge works, but it only does purge once. After getting the files rewritten it does NOT purge the varnish cache anymore."

Could you explain why that is a problem / why you would expect pagespeed to issue a purge request on a html page, after optimization is complete for that html page?

[2015-12-12 22:52] oschaaf commented on #1070
CSP support is tracked/discussed at https://github.com/pagespeed/mod_pagespeed/issues/876#issuecomment-160643980
I don't think there currently is a way to deal with this in pagespeed's configuration.

[2015-12-12 23:09] oschaaf commented on #1068
Are there any `X-Forwarded-For` or `X-Real-IP` headers involved? Custom log formatting?

[2015-12-12 23:20] deweydb commented on #1068
Yes, i am using those because i needed my upstream to see the IP address of the client. without those the upstream saw 127.0.0.1:port.

My config:

	# Define a mapping used to mark HTML as uncacheable.
	map $upstream_http_content_type $new_cache_control_header_val {
	    default $upstream_http_cache_control;
	    "~*text/html" "no-cache, max-age=0";
	}

	###########################
	#  HTTP->HTTPS

[2015-12-12 23:23] deweydb commented on #1073
@chromafunk
See this image: https://developers.google.com/speed/pagespeed/module/images/downstream_caching.png
From this page:
https://developers.google.com/speed/pagespeed/module/downstream-caching

It will make things much more clear.  The fact that it is only doing the purge once is correct.  It should only do one purge after the initial page request, until the time which your downstream cache

[2015-12-12 23:25] oschaaf commented on #1068
Thanks for the configuration, that should help reproducing. I *suspect* that the code that executes the purge requests copies over the incoming `X-Forwarded-For` header which would explain the symptoms you are seeing.
I'll have a look and post back here.

[2015-12-12 23:38] deweydb opened #1074 "Serve stale from cache instead of unoptimized from incomplete pagespeed."
I have an issue with how downstream caching integrates with pagespeed.
https://developers.google.com/speed/pagespeed/module/images/downstream_caching.png

In this image, on Request 1.  A partially rewritten response is served to the client.  Usually this response does not contain any of my domain sharding, or other optimizations.  Which means every time this happens, static assets are passed via m

[2015-12-12 23:50] deweydb commented on #1073
@chromafunk honestly i think i got off track here, it seems like your cache purging is working fine.  I think the reason your sharding isn't working is unrelated to cache purge.

Please try making a request directly to your upstream, by bypassing pagespeed and the cache layers completely (perhaps curl from the server: curl http://127.0.0.1:upstream_ip/ ).  And make sure that the url's included in

[2015-12-13 00:17] oschaaf commented on #1074
would you be ok with posting questions to https://groups.google.com/forum/#!forum/ngx-pagespeed-discuss?

re: sharding
Turning on the `rewrite_domains` filter makes domain rewriting happen for unoptimized resources.

re: serve stale html
There's stale-while-revalidate, but nginx doesn't support it.

re: cache priming
You could consider not doing user-agent specific optimizations to make life easie

[2015-12-13 00:17] #1074 closed

[2015-12-13 21:18] chromafunk commented on #1073
Hi @deweydb  @oschaaf Thank you for reminding me how the downstream cache works, I really needed to doublecheck how they interact to better understand how they work together.

The sharding is definitely working, but I think cloudfront is caching a 404 error on the images ( the rest of the files are being cached and retrieved correctly ) So I think this might be an filetype problem. Cloudfront is j

[2015-12-13 21:39] deweydb commented on #1073
I had some issues with 404s as well, i noticed later that my upstream was trying to get the images via http instead of https, and i wasn't handling images via http correctly.  Make sure your image is available via both http and https.

[2015-12-13 23:00] oschaaf commented on #1068
I was able to confirm the purge requests copying over `X-Real-IP`, I think we need to filter a few headers from purge requests before executing them.

[2015-12-13 23:03] deweydb commented on #1068
Thanks for all your help Otto, I really appreciate it.

[2015-12-14 05:14] MaxLazar opened #1075 "Could not rewrite resource in-place because URL is not in cache"
If I activate page speed, page just not responded. In error file I have next lines:

* 2015/12/13 22:59:32 [info] 10789#0: [ngx_pagespeed 1.9.32.11-7553] Trying to serve rewritten resource in-place: https://site.com/
* 2015/12/13 22:59:32 [info] 10789#0: [ngx_pagespeed 1.9.32.11-7553] Cache entry is expired: https://site.com/ (fragment=site.com)
* 2015/12/13 22:59:32 [info] 10789#0: [ngx_pagespeed

[2015-12-14 05:35] centminmod commented on #1070
thanks @oschaaf

[2015-12-14 09:49] oschaaf commented on #1075
With "page just not responded", do you mean that a html request hangs? Could you be hitting this?: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/mod-pagespeed-discuss/1EkahAxLg-s/dcC6jEeReVQJ

[2015-12-14 13:30] MaxLazar commented on #1075
Thanks! Yes, it helps!
I checked many solutions yesterday but missed this one.
Thanks again!

[2015-12-14 13:30] #1075 closed

[2015-12-14 13:33] oschaaf commented on #1075
@keesspoelstra

[2015-12-14 15:15] jeffkaufman commented on #1068
In general you do want the purge request to copy over all the headers from the client request.  If you have geocoding dependent content and so have set up a region-specific cache key that's dependent on the client IP, then if pagespeed didn't set `X-Real-IP` it wouldn't purge properly.

This is causing you a problem because to get purging to work you needed to open up your purge handler to the who

[2015-12-14 20:02] rfnx commented on #1054
@oschaaf Hello, do you know when will the patch be included in the releases ? I'm just asking because it was merged so maybe someone forgot to include it ?

Of course I can patch it everytime but most people don't know about the issue and will have the problem if they enable defer_javascript on nginx.

[2015-12-14 20:04] chromafunk commented on #1073
Ok, I have fixed it ... it was a really dumb and obvious issue ....

I had configured the LoadFromFile directive without a trailing slash on both the domain name and the path.

Thank you for your help guys !

[2015-12-14 20:28] isaumya commented on #1054
@rfnx Good question buddy....

[2015-12-14 21:23] chromafunk commented on #1073
This is really weird ... some pictures and all the assets files are now getting cached at the CDN, but only some of the pictures won't. I am getting this errors now :

[code]

This is my config :

[code]

I have the ssl terminator listening on 443, Varnihs is at port 8080 and the Nginx virtual host at 8081

[2015-12-14 21:28] deweydb commented on #1073
SERF issues are covered in the FAQ: https://developers.google.com/speed/pagespeed/module/faq

[2015-12-14 22:02] chromafunk commented on #1073
I don't have any rewrite rule like the one on the FAQ

[code]

[2015-12-14 22:29] deweydb commented on #1073
I'm not really able to help you because i don't know if these are editing mistakes, or real config.

For example, this looks really wrong:

pagespeed MapOriginDomain "http://127.0.0.1" "https://domain:8081";

also this:

[ngx_pagespeed 1.9.32.10-7423] http://2.domain.com/wp-includes/js/mediaelement/skipback.png (connecting to:localhost):0:serf_context_run error status=111 (Connection refused)

[2015-12-14 23:04] chromafunk commented on #1073
I modified that based on an old thread here, just for testing. But then I have changed it again to :
Wich is the logical configuration for this scenario:
[code]

I am not getting any errors in Nginx now.

This is one code snippet of one of the not working images :

[code]

[2015-12-14 23:11] deweydb commented on #1073
https://1.domain.com/wp-content/uploads/2015/10/BlackFusionSitar2.png.pagespeed.ce.IAlfsc5fLf.png

is not a real url. what is the real url?

[2015-12-14 23:31] chromafunk commented on #1073
https://1.elsitar.com/wp-content/uploads/2015/10/BlackFusionSitar2.png.pagespeed.ce.IAlfsc5fLf.png

That is one CDN shard.

You will see that the image path has been cached at the CDN, but there is not image.

[2015-12-14 23:35] deweydb commented on #1073
The fact that this works:
https://1.elsitar.com/wp-content/uploads/2015/10/BlackFusionSitar2.png
and this doesn't:
https://1.elsitar.com/wp-content/uploads/2015/10/BlackFusionSitar2.png.pagespeed.ce.IAlfsc5fLf.png

Means your LoadFromFile is not working correctly.  If you set an error logger for the nginx server block that has:
pagespeed on;
in it.

Then watch that error log while you request:
htt

[2015-12-14 23:37] deweydb commented on #1073
Oh! i just noticed something else as well.  Try taking out that trailing slash.

i.e.:
  do:

    pagespeed LoadFromFile "https://domain.com" "/var/www/domain.com/wordpress/";

not:

    pagespeed LoadFromFile "https://domain.com/" "/var/www/domain.com/wordpress/";

[2015-12-14 23:42] deweydb commented on #1068
It's actually not _that_ unsafe (i think).  Because on my main SSL block i drop all traffic to /purge:

    ##### SECURITY ######
    # deny any requests to cache purge from outside
    # all purge requests happen internally
    location ~ /purge(/.*) {
      deny all;
    }

[2015-12-15 00:20] chromafunk commented on #1073
I have tried this four combos and the only one that works is the first uncommented one.

On the commented out combinations pagespeed rewrites the URL's to the CDN, but doesn't rewrite / priocess any of the assets.

[code]

[2015-12-15 00:29] deweydb commented on #1073
Please add this line to the server {} block that contain's: pagespeed on;

    error_log   /some/log/dir/log/ps-error.log info;

Then from terminal do:
curl -v https://elsitar.com/wp-content/uploads/2015/10/BlackFusionSitar2.png.pagespeed.ce.IAlfsc5fLf.png

And show me the output of that command, as well as the output of this command:

cat /some/log/dir/log/ps-error.log

[2015-12-15 00:33] chromafunk commented on #1073
I was just doing now after the last post, here you have some logs. Says https is not supported, but when I setup LoadFromFile like this :
[code]
It process the files but gives these errors :
[code]

When I configure it with HTTP instead, the files are not being processed, only the URL sharding works.

[2015-12-15 00:35] deweydb commented on #1073
add this:

    pagespeed FetchHttps enable;

[2015-12-15 00:35] deweydb commented on #1073
Also, your loadFromFile directive is not working properly because it is trying to fetch over the web.

[2015-12-15 00:50] deweydb commented on #1073
Can you also show me the output of this command (run from the vps)

curl -v http://127.0.0.1:8081

[2015-12-15 00:56] chromafunk commented on #1073
Ok, now I don't get "https not supported" anymore, and I have changed LoadFromFile to :
[code]

curl -v http://127.0.0.1:8081 output :
[code]

Logs :

[code]

Seems that it can't find the original file .... downstream cache is 8080 and the nginx vhost is 8081

[2015-12-15 01:00] deweydb commented on #1073
That curl was just a redirect, i want to see actual page source of a page where the upstream is embedding an image. perhaps this page:

curl -v http://127.0.0.1:8081/wp-signup.php?new=127.0.0.1:8081

[2015-12-15 01:04] chromafunk commented on #1073
At the beggining of the response it says the same as the log say : the hostname was not found at the DNS cache ....

curl -v http://127.0.0.1:8081/shop/

[code]

[2015-12-15 01:09] deweydb commented on #1073
Your backend seems to be redirecting all the requests to:
https://elsitar.com/wp-signup.php?new=127.0.0.1:8081
Either find a place that isn't redirected, or turn off that redirect for the moment.

[2015-12-15 02:20] chromafunk commented on #1073
I am still looking to fix that redirect, it is really weird because I don't have any redirect besides the typical  ( wordpress rewrites and HTTP to HTTPS redirect + www to non-www ) So I don't really understand why the upstream server is redirecting to that URL.

But I just got this from the logs, I know this message was a bug before, but just in case :

[code]

[2015-12-15 02:24] deweydb commented on #1073
My bet is some wordpress plugin you have is doing that.  Try disabling all the plugins that might be guilty.

As for the downstream rebeaconing key, that is important but completely not related to this issue, they explain how to do it here:
https://developers.google.com/speed/pagespeed/module/downstream-caching

[2015-12-15 02:26] chromafunk commented on #1073
My config is right on that sense and the cache is being purged, maybe the bug is still there. I will see what could be creating that redirect and get to you guys tomorrw, thank you for your help.

[2015-12-15 02:27] deweydb commented on #1073
Also, don't do any redirects at wordpress level! including the one you mentioned that goes from HTTP to HTTPS. do that at your first layer. in your first post you called it "Nginx as SSL terminator".  Just add another server block. this is how i do it:

###########################
#  HTTP->HTTPS REDIRECT   #
###########################
server {
  listen         server.ip.goes.here:80;
  server_nam

[2015-12-15 02:28] chromafunk commented on #1073
That is how I made it :+1:

[2015-12-15 02:30] deweydb commented on #1073
this redirect:
http://127.0.0.1:8081/shop/
to
https://elsitar.com/wp-signup.php?new=127.0.0.1:8081

Really smells like a wordpress plugin to me.

And it seems like it happens for ALL requests to your backend. which would explain why pagespeed can't fetch resources properly.

[2015-12-15 02:33] deweydb commented on #1073
Here i solved it for you:

https://premium.wpmudev.org/forums/topic/multisite-redirect-problem-with-noblogredirect

[2015-12-15 02:46] chromafunk commented on #1073
That made it  ! I had NO IDEA of wordpress doing this crap ! Thank you man .... I was going crazy with this. I will bookmark that thing .... I would've took me at least 2 or 3 more days if I was looking for the solution by myself .... thanks ! :+1:

[2015-12-15 03:09] #1073 closed

[2015-12-15 16:45] chromafunk commented on #891
I just updated to nxing 1.9.9 and compiled the beta version of ngx_pagespeed to test out the latest implementations, should I just use the stable release or there is a workaround for this ?

[2015-12-15 17:26] jeffkaufman commented on #891
I can repro this very simply:

[code]

This was with configuration:

[code]

And with the files in [issue-1215.zip](https://github.com/pagespeed/ngx_pagespeed/files/62959/issue-1215.zip)

Still debugging.

(As you can see, I hit this when trying to repro #1215)

[2015-12-15 19:20] jeffkaufman commented on #891
@morlovich is looking at this now as I build 1.10.33.1

[2015-12-15 19:21] oschaaf commented on #891
Getting the pagespeed configuration more minimal, it seems there's an unwanted interaction between `OptimizeForBandwidth` and `combine_css`

[code]

Gives the following after a refresh or two:

[code]

Adding this in configuration:
[code]

Gives the following after a refresh or two:

[code]

[2015-12-16 03:42] chromafunk commented on #891
Is there a way I can help debugging ?

[2015-12-16 09:56] oschaaf commented on #1054
@jeffkaufman should I create a new pull to master based on https://github.com/pagespeed/ngx_pagespeed/commit/acb89a840cc87969b22e9d9b3449992376af2a40 for this?

[2015-12-16 17:01] chromafunk opened #1077 "Cannot combine certain .css files cause combined url too long"
I am getting this with a couple of .css files :

Cannot combine https://domain.com/wp-content/themes/modo/assets/css/skins/gray.css: combined url too long.

Would it be right to increase pagespeed MaxSegmentLength ?

If so, how do you calculate how much you need to increase ?

Thanks !

[2015-12-16 17:19] chromafunk commented on #1033
These are images inside an slider. The slider container is set to 700x300 but also to a 100% wide output by the plugin ( to fill the screen ) When I inspect the element, I can see the size of the image in the container ( 700 x 300 ) is being overriden by the width: 100% ? The images themselves are way bigger than 700x300.

[2015-12-16 18:51] chromafunk commented on #1033
Okay, I have disabled max width on the plugin and changed the values, now they are being resized properly.

[2015-12-16 18:51] #1033 closed

[2015-12-17 01:11] jeffkaufman commented on #808
Looks like this is back.

[2015-12-17 01:12] jeffkaufman commented on #808
@oschaaf would you be able to look at this one?  I'd like to put a fix for this in 1.10.33.2.

[2015-12-17 07:03] oschaaf commented on #808
@jeffkaufman The following pull fixes the problem thoroughly, but introduces a smaller one where we log vague lines like
[code]
https://github.com/pagespeed/ngx_pagespeed/pull/1071

[2015-12-17 09:49] chromafunk opened #1078 "Some images not being rewritten - question"
If an image won't met the requirements by any filter, therefore not changed, will it get sharded ?

There are some images that are properly resized and compressed / optimized beforehand and they are not being rewritten, but not sharded either.

[2015-12-17 10:11] oschaaf commented on #1078
You want to enable the `domain_rewrite` filter.
See https://developers.google.com/speed/pagespeed/module/filter-domain-rewrite

Could you post future questions to https://groups.google.com/forum/#!forum/ngx-pagespeed-discuss ?

[2015-12-17 10:11] #1078 closed

[2015-12-17 19:00] oschaaf commented on #1077
@chromafunk Could you, in the future, post questions like this to ngx-pagespeed-discuss [1]?

Bumping `MaxSegmentLength` may help, but I'm not sure that  is the best way to go about it, as I don't know why the combined url exceeds the threshold (and why it grows that large).

Next to capping the maximum segment length, the total url size is also capped (default max size 2083). Exceeding that also

[2015-12-17 19:00] #1077 closed

[2015-12-17 22:30] jeffkaufman commented on #808
Fixed in https://github.com/pagespeed/ngx_pagespeed/commit/37e1c3618a54da075b79acdb8074cb5f1599f537

[2015-12-17 22:30] #808 closed

[2015-12-18 16:46] jeffkaufman commented on #1054
I'll patch this into 1.10.33.2

[2015-12-18 22:20] centminmod opened #1079 "1.10.33.1-beta clang compile errors"
Attempting to compile Nginx 1.9.9 via clang 3.4.2 on centos 6.7 and get following errors

    make -f objs/Makefile install
    make[1]: Entering directory `/svr-setup/nginx-1.9.9'
    ccache /usr/bin/clang -ferror-limit=0 -c -I/usr/local/include/luajit-2.1  -pipe  -O -Wall -Wextra -Wpointer-arith -Wconditional-uninitialized -Wno-unused-parameter -Werror -g -m64 -mtune=native -g -O2 -fstack-protec

[2015-12-19 01:46] jeffkaufman commented on #1079
@crowell were you looking at something like this?

[2015-12-19 01:48] crowell commented on #1079
i was looking at building mod_pagespeed/psol with clang, not sure if this
is related yet, but I'll take a look

On Fri, Dec 18, 2015 at 8:46 PM, Jeff Kaufman <notifications@github.com>
wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-12-19 01:54] centminmod commented on #1079
@crowell if i switch back to using GCC via devtoolset-3's GCC 4.9.1 it compiles fine https://community.centminmod.com/posts/22656/. Just when using Clang 3.4.2 the above errors occur. HTH

[2015-12-21 12:42] chenaren opened #1080 "inline_google_font_css uses .ttf instead of .woff for IE11"
Hi,

I'm trying to use the inline_google_font_css filter to inline Droid Sans:
[code]

It works as expected in Chrome and Safari.

However, in IE11 it's inlined to the .ttf type, which for Droid Sans can't be rendered by IE11 for some reason, forcing it to fall back (tested on Windows 7 on VirtualBox and Windows 8.1 on BrowserStack):

[code]

When I directly download the css http://fonts.googleapi

[2015-12-21 15:24] jeffkaufman commented on #1080
What UA is your browser sending?

(We're actually using Google Fonts' UA-capability detection, but in order to keep our cache from being impractically fragmented by the wide variety of user agents out there we canonicalize the UA first, and we might be making an incorrect "cleanup" with this UA that confuses Google Fonts.)

[2015-12-21 15:33] jeffkaufman commented on #1080
I thought PageSpeed might be being confused by IE Edge, with the a UA like `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2486.0 Safari/537.36 Edge/13.10586`, but when it canonicalizes that it leaves in `Edge/13.10586` and Google Fonts sends it woff.

[2015-12-21 15:40] crowell commented on #1079
I can't reproduce on ubuntu 14.04 with clang version

[code]

i'll take a look on centos6.7 now.

[2015-12-21 16:30] #895 closed

[2015-12-21 16:30] #1054 closed

[2015-12-21 16:34] rfnx commented on #1054
I confirm the patch is now in the latest version : v1.10.33.2-beta ! Thanks :)

[2015-12-21 17:49] jmarantz commented on #1080
IE11 and Edge are two different browsers:
http://www.itpro.co.uk/web-browsers/25068/internet-explorer-11-vs-microsoft-edge-does-windows-10s-new-browser-measure-up

But maybe IE11 is sufficiently different from older IE that we need to
classify it differently.

On Mon, Dec 21, 2015 at 10:33 AM, Jeff Kaufman <notifications@github.com>
wrote:

[2015-12-21 20:00] jeffkaufman commented on #1080
@jmarantz We don't do the classification here; Google Fonts does.  But we do strip down the UA some before sending it to Google Fonts, to improve caching, and it's possible we're stripping something that Fonts considers relevant.

[2015-12-21 22:18] crowell commented on #1079
@centminmod by default clang will use the system gcc's includes. can you try setting `CC=--gcc-toolchain=/opt/rh/devtoolset-2/root/usr/` (or other appropriate path) after installing the devtoolset

[2015-12-22 04:57] chenaren commented on #1080
Did some experiment with a User-agent Switcher extension on Chrome:

Browser | UA String | uninlined | inlined
------------ | ------------- | --- | ---
IE7 | Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 6.0) | eot | eot
IE8 | Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.0; Trident/4.0) | eot | eot
IE9 | Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0) | woff | woff
IE10 | Mozill

[2015-12-22 08:52] centminmod commented on #1079
@crowell you're a lifesaver ! workaround hack worked wonderfully on centos 6.7 ! :+1:

nginx -V
nginx version: nginx/1.9.9
built by clang 3.4.2 (tags/RELEASE_34/dot2-final)
built with LibreSSL 2.2.5
TLS SNI support enabled
configure arguments: --with-ld-opt='-lrt -ljemalloc -Wl,-z,relro -Wl,-rpath,/usr/local/lib' --with-cc-opt='-m64 -mtune=native -g -O2 -fstack-protector --param=ssp-buffer-size=4

[2015-12-22 09:18] creativeprogramming opened #1081 "core dumps and slow reads with 1.10.33.1-7580 (nginx freezes after some hours)"
I recently upgraded to 1.10.33.1, but I had to switch back to 1.9.32.10-7423 (last version i was using) due to following errors, that caused my nginx to freeze after few hours of high traffic (nginx daemon didn't died, but was unable to serve any request)
[code]

I'm using nginx 1.8.0 but i tried also to go with 1.9.9, with no luck, now I think something new in pagespeed is the issue for the signa

[2015-12-22 15:38] jeffkaufman commented on #1081
Yikes, sorry about that!

Were there any other ngx_pagespeed logs around when this happened?

Do you have the core dump it says it took?

Would you be up for running a 1.10 compiled with --with-debug so we can get cores and backtraces with symbols?

[2015-12-22 16:42] crowell commented on #1079
awesome!

@centminmod the "real" solution is to build like this now.

[code]

I'll make sure to doc this too.

[2015-12-22 16:42] #1079 closed

[2015-12-22 17:17] creativeprogramming commented on #1081
Yes i can try to test it compiling pagespeed --with-debug and send you the core dump, but please send me a pointer to some how to for getting the core dump file, I'm not a C developer: I just compile nignx and pagespeed to use on my server.

I don't have a 'core dump' as I don't know very well how to get it saved to a file, i searched a bit and i tried to put this in nginx.conf:

worker_rlimit_cor

[2015-12-22 18:31] centminmod commented on #1079
thanks @crowell can confirm exporting CFLAGS instructions you outlined work well too tested on newly released 1.10.33.2-beta :)

[code]

[2015-12-22 19:09] jeffkaufman commented on #1080
Thanks for the debugging!

"Mozilla/5.0 (compatible, MSIE 11, Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko" is surprising; I thought IE11 would only include "MSIE" followed by a lower number, like "7".  That is, when IE11 is identifying as IE11 it drops the MSIE token.

I need to check how we canonicalize that string.

[2015-12-22 19:10] centminmod opened #1082 "nginx 1.9.9 not shutting down properly when on 1.10.33.2-beta"
Just updated on CentOS 6.7, nginx 1.9.9 to 1.10.33.2-beta using the clang and devtoolset-3 gcc 4.9.1 workaround outlined at https://github.com/pagespeed/ngx_pagespeed/issues/1079 on my live forums running pagespeed at https://community.centminmod.com/

After update, and restarting nginx gives me the following error

[code]

and ends up with failed nginx start, process list shows nginx processes ar

[2015-12-22 19:18] centminmod commented on #1082
more investigation seems it is related to the 2nd method outlined at https://github.com/pagespeed/ngx_pagespeed/issues/1079 with export CFLAGS workaround as even downgrading to 1.10.33.1-beta didn't help nginx properly stop and start

1.10.33.1-beta worked with the initial workaround passing devtoolset-3 toolchain via exported CC variable.

[2015-12-22 19:25] crowell commented on #1082
so it works when built with gcc, but not clang?

[2015-12-22 19:27] centminmod commented on #1082
yeah with GCC 4.9.1 not clang

i see even with nginx stop command that processes are consuming cpu time

[code]

[2015-12-22 19:33] centminmod commented on #1082
with GCC 4.9.1 nginx starts and forums load but all css is broken https://community.centminmod.com/

[2015-12-22 19:36] crowell commented on #1082
what is broken with the CSS? on a cursory look it appears fine to me.

[2015-12-22 19:37] oschaaf commented on #1081
@creativeprogramming When you have a core dump, this should give you a backtrace:

[code]

And then, when gdb has started:

[code]

Having nginx compiled with --debug would help debugging a lot as it will give us easier to understand backtraces. Seeing the messages in your logs, I would have expected a core dump to exist in the configured directory.

If you want, we could try to figure this out to

[2015-12-22 19:38] centminmod commented on #1082
Looks like it's working now with pagespeed off and pagespeed on for css files.. must of been some caching within the forum app.

To summarize so far

nginx 1.9.9 with ngx_pagespeed 1.10.33.1-beta and 1.10.33.2-beta

- with clang and any gcc-toolchain path devtoolset-3 workaround with GCC 4.9.1 results in nginx failing to properly stop and those Address already in use errors and nginx worker proces

[2015-12-22 21:30] nikolay opened #1083 "ProcessScriptVariables still not working as expected"
I reported this long ago so that we don't have to repeat the same thing over and over again and can replace tons of hardcoding with just:
[code]
But it still yields:
[code]

[2015-12-22 21:58] nikolay commented on #1083
Wrong error line! The issue is not the above, but this line:

[code]
@jeffkaufman @oschaaf It seems there's no way to handle the `$` character. I tried `\$`, I tried `$$`, but they don't work. Any suggestion on how to handle this?

[2015-12-22 23:08] nikolay commented on #1083
Escape via `$ps_dollar`, duh. Sorry!

[2015-12-22 23:08] #1083 closed

[2015-12-23 14:34] oschaaf commented on #1083
@nikolay there was also https://github.com/pagespeed/ngx_pagespeed/issues/1025, can we close that one too? If not, do you have more reproduction information for that one?

[2015-12-23 17:27] Angristan commented on #1024
Is it normal that even after the purge the size of my tmpfs doesn't change ?

[2015-12-23 19:10] oschaaf commented on #1024
@Angristan yes, a purge doesn't physically remove any entries. If you want a smaller cache size, you can restrict the file cache via `FileCacheSizeKb`: https://developers.google.com/speed/pagespeed/module/system#file_cache

[2015-12-23 23:29] #411 closed

[2015-12-24 00:35] creativeprogramming commented on #1081
I finally managed to get the core dumps files, before posting you the backtrace details i write here how i solved my issue for people coming from search engines ad to keep a public note for myself too

It was all due to ulimits:

[code]

so I'd to increase those limits

[code]
[code]

[code]
[code]
[code]

[2015-12-24 00:39] creativeprogramming commented on #1081
@jeffkaufman  @oschaaf
here comes more details

let's start with nginx error.log just seconds after nginx restart:

[code]

[2015-12-24 00:43] creativeprogramming commented on #1081
backtrace
[code]

[2015-12-24 00:44] creativeprogramming commented on #1081
my nginx compile info:
[code]

[2015-12-24 00:51] creativeprogramming commented on #1081
Tell me if you need more

[2015-12-24 00:55] deweydb opened #1084 "Blackberry: QuotaExceededError: DOM Exception 22: An attempt was made to add something to storage that exceeded..."
Hello,

I've noticed blackberry users having DOM Exceptions caused by pagespeed's javascript attempting to add (what i presume, is too many) items to local storage.  At this point in the code:

[code]

Browser info:
[code]

Please let me know if i can provide more information.

[2015-12-24 01:02] creativeprogramming commented on #1081
PS. no rush for me: I'm running anyway very fine with 11.9.32.10 no urgency to upgrade, so keep up the good work and thank you for it. Merry Christmas!

[2015-12-24 09:50] oschaaf commented on #1081
Thanks a lot for diving in and getting out the backtrace with gdb.

1.10 contains changes that makes ngx_pagespeed use a single named pipe to communitcate with PageSpeed instead of using a named pipe per request.

Looking at the backtrace, what happens is that an assumption I made in that change fails: we receive an event from the pipe originating from a base fetch that is no longer associated wit

[2015-12-24 10:22] oschaaf commented on #1081
Cross linking related post in pagespeed-dev:
https://groups.google.com/forum/#!topic/pagespeed-dev/FUjujbqH-hw

[2015-12-24 15:55] creativeprogramming commented on #1081
[error.debug.log.txt](https://github.com/pagespeed/ngx_pagespeed/files/71820/error.debug.log.txt)

[2015-12-24 16:01] creativeprogramming commented on #1081
here's nginx.conf (nevermind the comment, it's a bit messy)

[code]

[2015-12-24 20:50] oschaaf commented on #1081
Thanks. The log contains 18 backtraces, and they all consistently show this pattern in the log:

[code]

I can now consistently reproduce the core dump by setting up a custom 404 location like:
[code]

And requesting a pagespeed resource I know doesn't exist:
[code]

I think this was triggered by https://github.com/pagespeed/ngx_pagespeed/commit/3efebb79489b2c949f4f0eda2ce97f5824b797f9 ,which forw

[2015-12-24 22:09] oschaaf commented on #1081
@creativeprogramming https://github.com/pagespeed/ngx_pagespeed/pull/1085 should fix this problem.
Would you be willing to try it out and confirm?
For easier patching, a raw diff: https://github.com/pagespeed/ngx_pagespeed/commit/8bde04461677eea5fd0fa106ef4aa2eecae8c451.diff

[2015-12-26 01:18] creativeprogramming commented on #1081
@oschaaf many thanks, I donwloaded your branch and I'm running it now, it seems all fine, no error, anyway I'll confirm you tomorrow with more traffic (now is very low)

[2015-12-26 02:16] creativeprogramming opened #1086 "http/2 server push"
Hi,

I'm trying to issue a feature request here, anyway I don't know if it's the right place, and I know that you're probably already working at it if is the case to implement it, but please let me ask you for a comment.

Don't you think that pagespeed has enough  information (inside its 'metadata', after caching optimized resources) to be the 'smart enough' for this? I mean, when I 'dream' http/2

[2015-12-26 11:37] creativeprogramming commented on #1081
I confirm, with https://github.com/pagespeed/ngx_pagespeed/pull/1085 all is running fine, no crashes, no errors in log.

[2015-12-26 12:50] oschaaf commented on #1081
@creativeprogramming Great, thanks for confirming.

[2015-12-26 22:51] oschaaf commented on #1081
Re-opening, we will close this issue when the fix is reviewed and merged.  Thanks!

[2015-12-30 00:57] DmonteiroD opened #1087 "Image optimization takes too long time to complete"
I have some images, already png optimized.

However, pagespeed (1.9.32.6)/nginx will take 1 minute or something to process 4 or 5 images. Cpu resources are low during this stage.

Here is a print screen:

http://i.imgur.com/UPTjeT9.png

This is normal? Disable completely the image cache and optimization solves the issue, but not what I am looking for since images will not be cached.

 #pagespeed D

[2015-12-31 15:15] olemartinorg commented on #725
I had this exact problem in 1.10.33.2, and found this issue. Seems that part of #744 is gone from master now? I tested in 1.9.32.11 and that worked fine.

[2015-12-31 15:56] crowell commented on #725
yep, looks like that commit didn't make it into the 1.10.33.x branch. i've reapplied it to master and trunk-tracking so it should be fixed in the next release.
@olemartinorg if you build from master now it should be fixed.

[2016-01-03 14:14] centminmod opened #1090 "png to webp (not-lossless) option ?"
ngx_pagespeed can convert png to webp lossless. But is there an option to save to webp not-lossless and specify a quality % ?

I did some tests at https://community.centminmod.com/posts/23323/ and ngx_pagespeed auto converts png to webp lossless and ends up at 424KB size same as if i used irfanview app to manually save to webp lossless. But if i use irfanview to save as webp with quality = 75%, th

[2016-01-03 14:42] oschaaf commented on #1090
From the docs for `convert_jpeg_to_webp`: https://developers.google.com/speed/pagespeed/module/filter-image-optimize#convert_jpeg_to_webp

"With this option enabled, a gif or png image can also be converted to a lossily-encoded webp if the configuration allows it to be converted to a jpeg"

Which works with `WebpRecompressionQuality`: https://developers.google.com/speed/pagespeed/module/filter-ima

[2016-01-03 17:22] centminmod commented on #1090
@oschaaf cheers totally overlooked that was a separate option !

[2016-01-03 17:58] #1090 closed

[2016-01-04 07:15] nikolay commented on #1053
@jeffkaufman did it fix it?

[2016-01-05 01:25] jeffkaufman commented on #1053
@nikolay @LukeMauldin I'm sorry, I misread the history of this issue when I commented on 11/30.  We haven't fixed this yet.  I've added it to the [prioritization page](https://github.com/pagespeed/mod_pagespeed/wiki/Work-Prioritization) but there are quite a few things ahead of it.  Sorry for the false hope!

[2016-01-05 01:31] jeffkaufman commented on #1087
The main change from 1.9.32.6 to 1.9.32.10 was https://github.com/pagespeed/mod_pagespeed/commit/84a9deaf9c4df13ae707f44d06f577321de46e8c ; are you using memcached?

[2016-01-05 01:34] jeffkaufman commented on #1086
Yes, this is something we want to do at some point.  We have a lot of information about which resources are used, and once there are servers that will let us push we should start using it.

[2016-01-05 01:39] jeffkaufman commented on #1084
Thanks for the report!

What UA were you seeing this with?

[2016-01-05 02:08] jeffkaufman commented on #1058
Could you try setting a cache fragment: https://developers.google.com/speed/pagespeed/module/system#cache-fragment

[2016-01-05 02:08] jeffkaufman commented on #1064
Added

[2016-01-05 02:58] deweydb commented on #1084
Mozilla/5.0 (PlayBook; U; RIM Tablet OS 2.1.0; en-US) AppleWebKit/536.2+ (KHTML, like Gecko) Version/7.2.1.0 Safari/536.2+

[2016-01-05 02:59] deweydb commented on #1084
and also:

Mozilla/5.0 (BB10; Kbd) AppleWebKit/537.35+ (KHTML, like Gecko) Version/10.3.2.2639 Mobile Safari/537.35+

[2016-01-05 07:28] JoyceBabu commented on #1005
Is the new option available in release `v1.10.33.2`?

[2016-01-05 09:34] oschaaf commented on #1005
@JoyceBabu changes are pending that have been reviewed but have not yet been merged, so they are not yet available in a release.

[2016-01-05 12:55] DmonteiroD commented on #1087
@jeffkaufman I don't have memcached. But the upgraded version solves completely this issue for me. I just downloaded the version 1.9.32.10 and made a new compile of nginx, and works fine.

[2016-01-05 13:23] JoyceBabu opened #1091 "Pagespeed interfering with 'Expires' directive"
The expires directive in the following configuration does not work when pagespeed is enabled. The cache control / Expires headers are removed when pagespeed is enabled.

	location = /res/astrovision/astrovision.html {
		expires 1M;
		try_files $uri @backend;
		# return 204;
	}

I was running nginx 1.9.6 + PS 1.9.32.10 until today and it was working fine. The issue started after I upgraded to nginx

[2016-01-05 13:50] jmarantz commented on #1091
Hi Joyce,

This is for HTML files, right?  By default, PageSpeed tightens caching
headers on HTML files because (a) they are not fully optimized first time
through the system and (b) depending on the options you've set, they can be
user-agent-specific.

See https://developers.google.com/speed/pagespeed/module/downstream-caching
for more detail on the best way to cache HTML with PageSpeed.

-Josh

[2016-01-05 14:26] JoyceBabu commented on #1091
Thank you Joshua.

[2016-01-05 14:55] morlovich commented on #1079
So the trickiness here --- and why it works with the similar version for Jeff on Ubuntu 14 --- is that clang on Linux uses the system libstdc++ provided by gcc --- so if your gcc is old, you end up with a modern C++-11 compiler trying to build an ancient version of the library that's not quite up to the spec. Oh, and of course there are tons of combinations. There are actually some patches around

[2016-01-05 18:23] morlovich commented on #1080
Testing with unit test suggest we don't at all, which is very confusing since that ought to work correctly.

[2016-01-05 22:27] jmaessen commented on #1084
I've opened a bug for this:

https://github.com/pagespeed/mod_pagespeed/issues/1236

Will take a look; we should cope gracefully with lack of local storage if
it's present but small.

On Mon, Jan 4, 2016 at 9:59 PM, deweydb <notifications@github.com> wrote:

[2016-01-06 15:30] morlovich commented on #1080
Anyway, debugging this at whole system level...

[2016-01-06 16:13] morlovich commented on #1080
So the cause of the problem is the mod_pagespeed/version string we append to end of User-Agent: while fetching resources. It seems to cause the request to not be identified as IE11 by fonts.g.c

This is actually used for some loopback-type detection in both mod_pagespeed and ngx_pagespeed (and the ngx native fetcher has the same behavior).

[2016-01-06 21:18] jeffkaufman commented on #1080
Can we fix fonts.google.com to not consider our token?

[2016-01-07 12:22] JoyceBabu commented on #1091
Does PageSpeed optimize HTML content in background, even when they are served
- without any Cache-Control headers
- with no-cache headers

If so, how does PS determine if the page has changed or not? Does it generate a hash of every page?

[2016-01-07 13:06] jmarantz commented on #1091
PageSpeed does not optimize HTML in the background.  It optimizes HTML in
the foreground, on every request.  It optimizes images, css, and JS in the
background, because it can more easily cache the results.

On Thu, Jan 7, 2016 at 7:22 AM, Joyce Babu <notifications@github.com> wrote:

[2016-01-07 13:29] JoyceBabu commented on #1091
Thank you for the clarification

How does PageSpeed decide on whether or not to send a purge request to downstream cache (once the background JS/CSS/Image optimization is over)? Does pagespeed remember all HTML requests served by it, and send cache purge request for all of them?

[2016-01-07 13:57] jeffkaufman commented on #1091
@JoyceBabu PageSpeed optimizes html in the foreground, but that might trigger some background rewrites like image optimization.  When all the background rewriting for a request has finished PageSpeed sends a PURGE to the downstream cache so the next request can get a more optimized page.

[2016-01-07 14:06] JoyceBabu commented on #1091
Thank you Jeff.

From what I understood from the Downstream cache documentation, pagespeed will serve the initial request will just basic HTML optimizations. The JS/CSS/Image urls are not rewritten, if the they are not already optimized/available in PS cache. PS will then start a background job for optimizing the resource, and when the optimization is complete it will send a purge request for the

[2016-01-07 14:16] jeffkaufman commented on #1091
Yes, that sounds right.

[2016-01-07 14:21] JoyceBabu commented on #1091
Does PageSpeed maintain a list of url that were served without full optimization, so that it can send the PURGE request when the resources are optimized?

[2016-01-07 15:51] jeffkaufman commented on #1091
Yes.  (Though instead of being a literal list it's something that will happen after a long chain of callbacks.)

That would be possible, but it doesn't do that: it sends the PURGE regardless.  The idea is that background optimization should be much faster than expiration of the resource, so it wouldn't come up.  If the html resources have very short cache lifetimes (a few minutes) then it seems to

[2016-01-09 13:57] #1091 closed

[2016-01-13 16:08] centminmod opened #1093 "psol download in more compressed formats ?"
For https://dl.google.com/dl/page-speed/psol/${NPS_VERSION}.tar.gz some servers have slow download speeds even as low as 300-650KB/s and at 112MB tar.gz file it can take a while to download. A suggestion is to offer the PSOL in other more compressed formats for smaller download size like xz or bzip2.

this is with xz and bzip2 at level 4 compression and pigz at level 11 compression compared to ori

[2016-01-13 16:15] crowell commented on #1093
currently we're doing gzip at compression level 9, xz is probably a good idea for future releases if it can get us down to ~1/2 the size. thanks for the info :+1:

[2016-01-13 16:22] centminmod commented on #1093
yeah just trying to speed up my lemp install times and this probably takes up to 1/5th of the total time :)

another idea is split up the download into 2 to 4 parts, folks can then download them in parallel too - so 64MB/4 = 16MB per part

[2016-01-13 16:26] crowell commented on #1093
for the parallel connections, you can use a tool like axel http://manpages.ubuntu.com/manpages/hardy/man1/axel.1.html

and do something like

axel -n 4 url

[2016-01-13 16:35] centminmod commented on #1093
yeah i use to use axel but seems broken on centos in the past .. probably need to take another look at it as it seems to work now

[2016-01-13 20:38] RealRancor opened #1094 "CDATA wrongly stripped by rewrite_javascript"
ngx_pagespeed version: X-Page-Speed: 1.9.32.4-7251

Hi,

it seems that ngx_pagespeed with an enabled rewrite_javascript filter is stripping the CDATA tag/comment of the following inline javascript:

[code]

used by https://github.com/PortaMx/PortaMx-1.54-ecl/blob/98c617c4214b6a7f46eb1abacac8f191f74d5ac6/Sources/PortaMx/LoadData.php#L2818-L2822

to the following:

[code]

This makes the the page in

[2016-01-17 14:58] isaumya opened #1095 "Why there is no minify css?"
Hi,
I was wondering about why pagespeed doesn't provide a minify css option whereas it does provide that for js files. Any idea guys?

[2016-01-17 22:11] oschaaf commented on #1095
Please see https://developers.google.com/speed/pagespeed/module/filter-css-rewrite

How did you come to the conclusion that pagespeed does provide a minify css option?
Is there perhaps something on your website that made you think pagespeed does not provide css minification? If so:

- If you add  ?PageSpeedFilters=+debug to the querystring and view the source of the resulting html, PageSpeed may w

[2016-01-17 22:11] #1095 closed

[2016-01-17 22:50] oschaaf commented on #1094
After looking at the code, it looks like the javascript filter is actually trying to conserve the `CDATA` declarations in the minification process, but only when the html is determined to be served as xhtml (or more precisely, when it is not *not* determined to be xhtml).

Is your html served as xhtml? If it is, could you paste the `Content-Type` header that is served with the xhtml here?

[2016-01-18 18:38] RealRancor commented on #1094
Thanks for your reply. My pages using the following doctype:

```<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">```

and validates as "Doctype: 	XHTML 1.0 Transitional" at https://validator.w3.org (if not using the rewrite_javascript filter).

The content type served by nginx when requesting the page containing that javascri

[2016-01-18 19:08] oschaaf commented on #1094
Older browers (IE6/7) won't take doing this well, but I think that if you would serve your html with `Content-Type: application/xhtml+xml`, the `CDATA` sections would be preserved.

[2016-01-18 19:27] isaumya commented on #1095
Hey @oschaaf,
I do have css rewrite filter on. But when I do look at the css files it seems like it just only combined the css files (as I also have that option on) but didn't minified them like the js files.

Here is my pagespeed config file. Have a look and let me know if I might some other features too to make my site faster:

[code]

So, if you can point out if I'm missing something out on my

[2016-01-19 03:05] as-com commented on #745
:+1:

HTTPS is essentially mandatory nowadays.

[2016-01-19 12:21] oschaaf commented on #1095
It looks like https://www.isaumya.com is not running ngx_pagespeed, so I can't have a look.
Did you try adding `?PageSpeedFilters=+debug' when requesting a html page, and viewing the source? Doing so may give you insight into the reason why the css was not minified, as pagespeed may write debug comments right after the css file(s) involved.

[2016-01-19 14:32] #1005 closed

[2016-01-19 14:37] morlovich commented on #745
Just re-tested this --- by changing the font URL in our example page to have https:// --- and it worked just fine for me.

[2016-01-19 14:43] as-com commented on #745
Hmmm, that's really strange. It seems to work for me using the example's link tag:
[code]
but doesn't work with this one:
[code]

[2016-01-19 14:47] morlovich commented on #745
With what UA, and what's your GoogleFontCssInlineMaxBytes set to?

[2016-01-19 15:02] as-com commented on #745
Oops! I didn't realize that the stylesheets served by Google Fonts had inflated so much. I set my GoogleFontCssInlineMaxBytes to 10240 and now it is working properly. :stuck_out_tongue_closed_eyes:

Minifying the inlined stylesheets would be nice, though...

[2016-01-19 15:22] isaumya commented on #1095
Hi,
The reason you are not serving the page speed things is because I'm testing a copy of my site on my new vps with all paneled magic. So that the time of testing I just change the IP of my domain forcefully to point to the new server IP in the Host file. After all the testing and tweaking is done, I will change my DNS to point to the new server.

Do you think I should add any more filters in my

[2016-01-20 01:22] grayfolk opened #1096 "IPRO check-fails on some connection errors"
When i turn pagespeed on then have aborted connection and this error.log message:
[code]
Pagespeed config: (inside server{} section)
[code]
nginx 1.8.0, CentOS 6.7

When i change to pagespeed Off; - nginx working.
[code]

[2016-01-20 07:28] oschaaf commented on #1096
- Are you running http/2?
- Would you be able to  PM your full configuration and site url plus the contents of nginx -V?
- Would you be able to run a debug build, configure nginx to log debug level messages, and post the resulting contents of error.log (or PM) the contents of error.log ?

[2016-01-21 10:23] Ortall opened #1097 "nginx workers getting signal 11 on high traffic"
I am using nginx version 1.8.0 and writing nginx module to send request to my server, after a few min of high traffic (only on high traffic), I get the following errors:

*2016/01/21 12:05:34 [notice] 12090#0: signal 17 (SIGCHLD) received*
*2016/01/21 12:05:34 [alert] 12090#0: worker process 12377 exited on signal 11 (core dumped)*

core dump output:

#0  0x00000000019ca990 in ?? ()
#1  0x00000000

[2016-01-21 12:54] oschaaf commented on #1097
@Ortall I'm not sure what you are asking, is this about a bad interaction between a module you are working on and ngx_pagespeed ?

[2016-01-21 21:25] jeffkaufman commented on #1081
fix is merged

[2016-01-21 21:25] #1081 closed

[2016-01-22 15:12] jeffkaufman commented on #1096
Fixed by b88e067c6d8173112d586fcdfe8d664c1226a00d

[2016-01-22 15:12] #1096 closed

[2016-01-22 15:57] HansVanEijsden opened #1099 "Duplicate Location headers after 302 redirects"
After doing a 302 redirect, browsers like Safari Desktop and Safari Mobile can't display the page. Probably because of duplicate Location headers.
The problem also occurs after trying to login to Wordpress, RoundCube webmail or Joomla (all of those give redirects after a successful login).

To replicate:

[code]

[code]

Tested with ngx_pagespeed 1.10.33.2-7600 on Nginx 1.9.9.
Basic Nginx config (

[2016-01-22 15:59] oschaaf commented on #1099
Consider https://github.com/pagespeed/ngx_pagespeed/commit/1f02f368e1441251db5cf71f420850db5b0c5e9d and its re-application later on for 1.10 https://github.com/pagespeed/ngx_pagespeed/commit/01e458ca0dbfdf9324c2420a36be3dd9ce383c20

They look different, which may need closer inspection

[2016-01-22 16:19] oschaaf commented on #1099
No this seems to be a dead-end, I can't spot a problem with 1f02f36 vs 01e458c

[2016-01-22 16:42] oschaaf commented on #1099
Oh wait, but https://github.com/pagespeed/ngx_pagespeed/commit/01e458ca0dbfdf9324c2420a36be3dd9ce383c20 was added fairly recently and is not available in '1.10.33.2'

[2016-01-22 20:21] jeffkaufman commented on #1099
Otto noticed that https://github.com/pagespeed/ngx_pagespeed/commit/059dd20b105a1e6b1f0d5b23526e79e026d9a77f didn't make it into 1.10 because it was merged to the wrong place.  That's probably it.

[2016-01-22 20:22] HansVanEijsden commented on #1099
Hoping for it. Thanks!

[2016-01-22 20:25] jeffkaufman commented on #1099
@HansVanEijsden Would you be able to try cherry-picking 059dd20 to verify that this fixes it?

[2016-01-22 20:28] HansVanEijsden commented on #1099
@jeffkaufman I would love to, but I can't find the instructions on how to install from source.
https://developers.google.com/speed/pagespeed/module/build_ngx_pagespeed_from_source only mentions downloading the zip file, unfortunately..

[2016-01-22 20:43] jeffkaufman commented on #1099
Sorry about that!  Here's up to date instructions for building from git:

Where it says:
[code]

Instead do:

[code]

Then after you do `cd ngx_pagespeed-release-${NPS_VERSION}-beta/`, run

[code]

Now's the place for the cherry-pick:

[code]

And then continue on with the rest of the build, starting with `wget https://dl.google.com/dl/page-speed/psol/${NPS_VERSION}.tar.gz`

[2016-01-22 21:06] HansVanEijsden commented on #1099
No need to say Sorry Jeff. I never asked about it before. 😉

Unfortunately I encounter some errors. I tried to correct them as far as possible, but I'm stuck at doing the right git checkout. Here are the steps I've done (system language is in Dutch, nl_NL, sorry):

hans@vps:~$ cd
hans@vps:~$ NPS_VERSION=1.10.33.2
hans@vps:~$ git clone git@github.com:pagespeed/ngx_pagespeed.git
Cloning into 'ngx_pa

[2016-01-22 21:18] jeffkaufman commented on #1099
Whoops, I had a typo.  Instead of:

[code]

you should have

[code]

[2016-01-22 21:31] HansVanEijsden commented on #1099
Good news: I love those cherry-picks! 😄
Up & running and working without problems.

$ curl -I https://www.fundays.nl/
HTTP/1.1 302 Moved Temporarily
Server: nginx
Content-Type: text/html; charset=UTF-8
Connection: keep-alive
Keep-Alive: timeout=300
Set-Cookie: wb_4647-sid=ee21ngv729h327gajr1162gij2; path=/; HttpOnly
Location: https://www.fundays.nl/pages/fundaysfestival/fundays-live.php
Access-Con

[2016-01-22 21:33] crowell commented on #1099
the `git checkout` command should be

git checkout release-1.10.33.2-beta

On Fri, Jan 22, 2016 at 4:06 PM, Hans van Eijsden <notifications@github.com>
wrote:

--
Jeff Crowell
https://github.com/crowell

[2016-01-22 21:36] oschaaf commented on #1099
@jeffkaufman I think we should test for duplicates of some headers so we make sure we don't regress, some of the header manipulation in nginx is excessively tricky. Should I create a new issue for that?

[2016-01-22 21:53] crowell commented on #1099
awesome, thanks for testing!

On Fri, Jan 22, 2016 at 4:31 PM, Hans van Eijsden <notifications@github.com>
wrote:

--
Jeff Crowell
https://github.com/crowell

[2016-01-22 21:55] oschaaf opened #1100 "Valgrind complains about NgxBaseFetch::ReadCallback"
From https://groups.google.com/forum/#!msg/pagespeed-dev/u8pNl2fQL-Q/Vk_oGsrnCgAJ , https://github.com/pagespeed/ngx_pagespeed/pull/1098 introduced a valgrind error.

[2016-01-25 16:40] jeffkaufman commented on #1099
Fixed by 059dd20b105a1e6b1f0d5b23526e79e026d9a77f

[2016-01-25 16:40] #1099 closed

[2016-01-26 11:19] HansVanEijsden commented on #1064
Reminder, please.. would love to have this fixed too (request of one of my clients). 😃

[2016-01-26 11:24] Niwreg commented on #1064
Same issue here. I'll follow the thread in case of updates :)

[2016-01-26 16:43] #1097 closed

[2016-01-26 23:01] #1080 closed

[2016-01-27 18:48] oschaaf opened #1104 "native fetcher fails to run system tests"
With regard to the native fetcher, I see a lot of messages like this in error.log when running, which makes me suspect the tests fail on the first test that is attempted with it:

[code]

At a glance it looks like the native fetcher now gets an incoming ipv6 address passed in as the hostname, which it attempts to resolve. The native fetcher currently only supports ipv4.

[2016-01-27 19:12] jeffkaufman commented on #1104
That would make sense.

[2016-01-27 22:15] oschaaf commented on #1064
Fix for this is in progress at https://github.com/pagespeed/ngx_pagespeed/tree/oschaaf-trunk-tracking-issue-1064, working on tests to prevent regression.
I have yet to reproduce the situation again where we emit three `Vary: Accept-Encoding` headers which somehow seems hard now, but this fix gets rid of a reproducible double `Vary: Accept-Encoding` situation.
If anyone is up for trying the patch,

[2016-01-28 23:17] HansVanEijsden commented on #1064
@oschaaf thanks, I applied the patch successfully (without errors) and recompiled Nginx with it.
Unfortunately, still the issue.
The double Vary headers appear after accessing the URL for the 2nd time.

First time:

HTTP/1.1 200 OK
Content-Type: text/css
Connection: keep-alive
Keep-Alive: timeout=300
Server: nginx
Content-Length: 39900
Last-Modified: Wed, 20 Jan 2016 17:57:28 GMT
Vary: Accept-Enco

[2016-01-29 15:40] oschaaf commented on #1064
It took me a little while, but I found the old directory where I could reproduce writing out three `Vary:Accept-Encoding` response headers.

Applying https://github.com/pagespeed/ngx_pagespeed/pull/1105 there, the number of `Vary: Accept-Encoding` headers goes down from three to two on the optimized IPRO and .pagespeed. responses for me.

The two remaining `Vary: Accept-Encoding` headers originate

[2016-01-29 15:44] HansVanEijsden commented on #1064
@oschaaf yes, strange isn't it? I cleared the cache by deleting the files inside /var/cache/ngx_pagespeed and I rebooted the server (so memcached would be 100% fresh and empty too).
There are no Wordpress cache plugins installed (except the nginx helper plugin). I also cleared the nginx fastcgi cache just to be sure, by clearing /var/run/nginx-cache.

[2016-01-29 20:48] oschaaf commented on #1064
@HansVanEijsden: Are you sure you fired up the patched nginx binary? Is it possible that the old (unpatched) nginx server was/is still running? I can't yet come up with a reason that would explain how it could be that the patch has zero effect, but there may be something in your configuration or module list that bars the patch from working correctly (though even if the patched worked, the problem

[2016-01-30 00:48] HansVanEijsden commented on #1064
@oschaaf unfortunately.. yes, I'm sure about that.
To be sure, I've done a complete re-install of ngx_pagespeed and nginx.

I installed nix_pagespeed following the instructions in https://github.com/pagespeed/ngx_pagespeed/issues/1099 and I also applied the cherry-pick.
Then, I applied your patch:

patching file src/ngx_pagespeed.cc
Hunk #1 succeeded at 571 (offset -1 lines).
Hunk #2 succeeded at

[2016-01-30 07:56] oschaaf commented on #1064
Thanks @HansVanEijsden
I PM'd you another patch, let me know if that results in a single `Vary: Accept-Encoding` header being emitted consistently.
If it does, that means that https://github.com/pagespeed/ngx_pagespeed/pull/1105 is probably all we need for the nps side to resolve this.

[2016-01-30 13:22] HansVanEijsden commented on #1064
@oschaaf I own you a beer.
The patch you PM'ed works! 😄 😄

[2016-01-31 18:50] RealRancor commented on #1094
Hi,

thanks for your reply and sorry for the long delay.

Up to now i wasn't able to make my nginx/php-fpm setup to serve the .php files with the content type application/xhtml+xml. Have used various stuff like adding the php file to mime.types of nginx, adding a add_header or default_type statement to the php block of nginx or modifying the default_mimetype of the fpm php.ini without any luck.

B

[2016-02-01 16:36] jeffkaufman commented on #1094
My main question here is, why are you trying to serve xhtml?  When started work on PageSpeed 5+ years ago we included handling for xhtml, but even at that time it was very rarely used.  At this point it's widely seen as something that didn't work out, and there's very little reason to serve it.  Html5 is highly backwards compatible, and is a spec that matches what browsers actually do.

[2016-02-01 16:58] RealRancor commented on #1094
Hi,

thanks for your reply and the pointer. That is something which is directly done by the Simple Machines Forums 2.0 which is using that XHTML doctype. But it seems they have changed that for their upcoming 2.1 release:

https://github.com/SimpleMachines/SMF2.1/pull/319/files

If this is just the issue here that they are serving a wrong / outdated / uncommon doctype i'm closing this for now and

[2016-02-01 16:58] #1094 closed

[2016-02-01 17:20] arielesp commented on #1082
I would just like to inform you that I am also having several problems with this last 1.10.XX version , nginx 1.9.x.

After the upgrade, the server keeps crashing .

At the moment , I have to use version 1.9.32.11

[2016-02-01 18:30] jeffkaufman commented on #1082
@arielesp Does it print anything in the error log when it crashes?

[2016-02-01 18:53] arielesp commented on #1082
So, dont crash stopping... but dont answer and need restart nginx

I already tested in 20 servers...

There are some bug in version 1.10... or with compiler ... I dont know...

This problem occurs with big sites ...

server setup
32GB RAM
SSD 120GB
Intel Xeon E3 1245v2

I tested with nginx 1.9.9, only frontend / backend

And other with apache as backend

[2016-02-01 19:14] jeffkaufman commented on #1082
@arielesp It sounds to me like you're saying you're seeing 1.10 hang and be unresponsive, but it's not crashing, is that right?  Is there anything printed to the error logs when it goes unresponsive?

[2016-02-01 19:20] arielesp commented on #1082
@jeffkaufman I didnt checked. ... but I will reinstall again to check ...

[2016-02-03 00:50] BenHall opened #1106 "Nginx cannot find module when building inside Docker container"
I've pushed the changes to https://github.com/benhall/docker-nginx-sticky

Reproduce:
`make`

This will run all the steps required, for example downloading and exacting the module into the root.

The build fails. The ./configure references _--add-module=/ngx_pagespeed-release-${NPS_VERSION}-beta/_ and the build fails because with _--add-module=/ngx_pagespeed-release-1.10.33.4-beta/: not found_

Wh

[2016-02-03 03:25] sandys commented on #1106
here's a build script that works - https://gist.github.com/redcarpetup/e52cbddb907effe70bd0

[2016-02-03 10:03] #1106 closed

[2016-02-03 13:00] jeffkaufman commented on #1106
It looks to me like `--add-module=/ngx_pagespeed-release` should have been `--add-module=~/ngx_pagespeed-release`?

[2016-02-03 13:02] BenHall commented on #1106
It was me not reading the script correctly as I had && in the wrong place :(

https://github.com/BenHall/docker-nginx-sticky/commit/919a795b23e053c0950fabb5ea2538496259c90b

Image now correctly building, will push into production later today. Thanks for your replies

[2016-02-04 00:12] nirocfz commented on #1064
There are two `Vary: Accept-Encoding` headers after I applied [#1105](https://github.com/pagespeed/ngx_pagespeed/pull/1105), how to make it a single `Vary: Accept-Encoding`?

[2016-02-04 06:06] JoyceBabu commented on #1005
@oschaaf I was trying to cherry pick the fix, and found out that the patch is for mod_pagespeed. Is it not available for ngx_pagespeed?

[2016-02-04 06:51] JoyceBabu commented on #1064
I am also seeing seeing two Vary headers after applying #1105.

@oschaaf Can you please share the patch for removing the extra header?

[2016-02-04 06:54] oschaaf commented on #1064
@nirocfz @JoyceBabu You can find the patch @HansVanEijsden used here.
https://gist.github.com/oschaaf/c16c7458a57db4e94323

[2016-02-04 06:59] oschaaf commented on #1005
@JoyceBabu You would need to build ngx_pagespeed against a PSOL version that includes this. No changes required for ngx_pagespeed.

[2016-02-04 07:10] nirocfz commented on #1064
@oschaaf That's great!

[2016-02-04 07:23] JoyceBabu commented on #1064
I tried to apply it to release 1.10.33.4 with commits b081bb7 (#1105) and 059dd20(#1099) cherry picked. It failed with

[code]

[2016-02-04 07:28] oschaaf commented on #1064
@JoyceBabu the gist I posted should apply cleanly when  b081bb7 (#1105) is not cherry-picked.

[2016-02-04 07:36] JoyceBabu commented on #1064
Thank you @oschaaf. I have successfully applied the patch, and now there is only one Vary header.

[2016-02-04 07:38] JoyceBabu opened #1107 "Remove X-Original-Content-Length header"
What is the purpose of the `X-Original-Content-Length` header. Is it possible to disable it?

[2016-02-04 07:43] oschaaf commented on #1107
I'm not sure of it's purpose, but I can imagine you can use this header to compute/verify actual saved bytes in a downstream server, and perhaps it is also used in system tests.
In any case, you might try the following to turn off emitting that header:

[code]

I'm not sure, but I suspect you might have to flush PageSpeed's cache to have this take effect immediately for all assets after changing c

[2016-02-04 07:57] JoyceBabu commented on #1107
It is not working. There is an open issue pagespeed/mod_pagespeed#1006 that it does not work.

[2016-02-04 08:25] JoyceBabu commented on #1107
I have removed it using headers more

`more_clear_headers 'X-Original-Content-Length'`

[2016-02-04 13:05] jmarantz commented on #1107
I think I'll re-open this one.  I did not realize/remember we had the option 'TrackOriginalContentLength'.  We should either delete it from the code or we should doc it and make it work in the next version.

What's the reason you want to remove it?  We were thinking it would be good if most PageSpeed sites sent it so we can track the overall byte reduction we are getting on the web just by (say) l

[2016-02-04 14:02] JoyceBabu commented on #1107
I had a lot of unnecessary headers enabled for each request, and decided to remove them. And by doing so, I was able to bring down the header size from ~650 bytes to ~325 bytes. Since HTTP headers are not compressed, that is a saving of 325 bytes per request. It is not a huge saving, but better than the alternative.

[2016-02-05 14:50] JoyceBabu opened #1108 "Force hash change"
Is it possible to force pagespeed to regenerate the unique hash for all urls? I have added CORS headers to all JS files. Since the file content hasn't changed, pagespeed is still serving the files using the same url. For a returning visitor, the JS files are already in their browser cache without the CORS headers.

[2016-02-05 15:03] jeffkaufman commented on #1108
You could turn on url signing: https://developers.google.com/speed/pagespeed/module/restricting_urls#url_signatures

[2016-02-05 18:08] sbagmeijer opened #1109 "no 32-bit with 1.10.33.4"
Not sure if I missed an announcement if I did then I apologise however it look like version 1.10.33.4 cannot be compiled with a 32-bit machine is this a mistake?

It seems when you download psol it no longer has the 32-bit files, in version 1.10.33-2 they are still available.

[2016-02-05 18:25] jeffkaufman commented on #1109
Checking now, you're right: there's a problem with the copy of 1.10.33.4.tar.gz that's on dl.google.com.  Looking into it now.

[2016-02-05 21:25] jeffkaufman commented on #1109
Can you check whether https://www.modpagespeed.com/1.10.33.4.tar.gz works for you?

[2016-02-06 08:14] sbagmeijer commented on #1109
Yes that one works fine!

[2016-02-06 11:16] thedark1337 opened #1110 "Fix building with nginx 1.9.11+ and support dynamic module loading"
Hi, I'm using the latest changeset from Nginx's [repository](https://trac.nginx.org/nginx/log/nginx/) and building it from source with the latest ngx_pagespeed and headers-more-nginx. Whilst compiling I get the error:

[code]

my configure:

[code]

I also noticed during the configuration this:
[code]

[2016-02-06 14:48] oschaaf commented on #1110
@thedark1337 There have been changes on nginx's repository that add support for dynamic module loading. While supporting dynamic modules is awesome, is seems the changes involved also broke ngx_pagespeed's build.
I'm working on changes for that. I currently have ngx_pagespeed limping along again on the latest nginx version, but it still need a bit more work before I'm confident enough to post a pa

[2016-02-06 17:51] thedark1337 commented on #1110
I see, I'll keep this issue open and revert to the commit before dynamic modules were added. Thanks!

[2016-02-06 21:09] oschaaf commented on #1110
Updated the title for this issue

[2016-02-06 21:42] kyl191 commented on #1109
The modpagespeed.com link works for me as well. Will this be the default going forward?

[2016-02-08 17:40] jeffkaufman commented on #1109
I've fixed https://dl.google.com/dl/page-speed/psol/1.10.33.4.tar.gz to include the 32-bit binaries as well.

(The modpagespeed.com link was just for sending out the draft binary to check I hadn't missed anything in building it this time.)

[2016-02-08 17:40] #1109 closed

[2016-02-09 05:21] davidjb opened #1111 "nginx 1.9.10 hangs on requests with pagespeed and fancyindex"
I have compiled Nginx 1.9.10, Pagespeed 1.10.33.4-beta, and ngx-fancyindex (latest tag, v0.3.6) on Centos 6.7 x64 and it compiles fine.  Nginx hangs when requests are made to the location block below:

[code]

Requests work fine if I change the `fancyindex` directive to the in-built `autoindex` (the Pagespeed filters are correctly applied to `autoindex`).  Changing pagespeed filters appears to mak

[2016-02-09 20:52] centminmod commented on #1110
similar issue here with errors https://community.centminmod.com/posts/26058/

[code]

[2016-02-09 22:03] centminmod commented on #1111
hmm wonder if same problem i have here https://github.com/pagespeed/ngx_pagespeed/issues/1082 i also use fancy index as well

[2016-02-09 23:50] davidjb commented on #1111
@centminmod sounded somewhat similar, but a difference looks to be that my requests fail only to a location block with the `fancyindex` handler.  All other handlers (eg proxy, etc) continue to work fine even if a request to `fancyindex` has hung.

[2016-02-10 12:25] oschaaf commented on #1111
I suspect this may be something with fancyindex. I made a pull request to propose a fix https://github.com/aperezdc/ngx-fancyindex/pull/37

[2016-02-10 12:28] davidjb commented on #1111
Awesome, thanks! Hopefully they'll merge that over there.
On Wed, 10 Feb 2016 at 22:25, Otto van der Schaaf <notifications@github.com>
wrote:

[2016-02-10 12:37] oschaaf commented on #1111
@davidjb Could you try confirming the fix?
For easy patching, here's a diff:
https://patch-diff.githubusercontent.com/raw/aperezdc/ngx-fancyindex/pull/37.diff

[2016-02-10 13:51] oschaaf commented on #1111
Change was merged in fancyindex - thanks @aperezdc !

[2016-02-10 14:16] aperezdc commented on #1111
You're welcome! Thanks for the patch @oschaaf. As a matter of fact, I should go over the code and compare it to a modern `autoindex`, and see if there are more changes that should be imported into `fancyindex`. I have files aperezdc/ngx-fancyindex#38 precisely to track that task.

[2016-02-10 18:28] sbagmeijer commented on #1110
@oschaaf will you actually change it in such a way Pagespeed can be dynamically loadable ?

They provided some info:
https://www.nginx.com/resources/wiki/extending/converting/
https://www.nginx.com/resources/wiki/extending/new_config/#

[2016-02-10 19:07] jeffkaufman commented on #1111
Looks like this is now fixed on the fancyindex end.

[2016-02-10 19:07] #1111 closed

[2016-02-10 19:13] jeffkaufman commented on #1082
@centminmod Over on #1114 you indicated that you were still having these problems with 1.10, and so are still on 1.9?

(I had thought this was working for you now.)

[2016-02-10 20:03] #1110 closed

[2016-02-10 20:13] centminmod commented on #1082
@jeffkaufman yes i have it working in latest beta of my Centmin Mod LEMP stack if i use GCC devtoolset but I need for it to work with Clang too as for my stack the difference in compile speed and memory usage is enough to justify using Clang compiler and that doesn't work with ngx_pagespeed 1.10.

For now, I am just temporarily disabling ngx_pagespeed from integration into the stable version of my

[2016-02-11 01:35] davidjb commented on #1111
@oschaaf Tested and works on Nginx 1.9.10 (and on 1.9.11 with ngx_pagespeed master), thanks @aperezdc and @oschaaf.

[2016-02-11 12:56] oschaaf opened #1116 "Support building ngx_pagespeed as a dynamic module"
As of 1.9.11, nginx supports loading dynamic modules:
https://www.nginx.com/resources/wiki/extending/converting/#loading-a-dynamic-module

[2016-02-11 16:28] #1100 closed

[2016-02-11 20:55] Angristan opened #1117 "Compilation Error"
Hello,

I have this error when compiling Nginx 1.9.11 + PageSpeed 1.10.33.4 on Debian 8 :

[code]

[2016-02-11 21:02] jeffkaufman commented on #1117
Sorry about that!  PageSpeed needs a patch before it will work with nginx 1.9.11.  For now you could use nginx 1.9.10, or you could wait for our 1.10.33.5 release which will fix this incompatibility.  (Right now I'm expecting 1.10.33.5 will be out on Tuesday.)

[2016-02-11 21:06] Angristan commented on #1117
Glad to know that :) Thanks !

[2016-02-11 22:43] nikolay commented on #1117
@jeffkaufman Great!

[2016-02-14 05:57] JayXon opened #1118 "ERR_EMPTY_RESPONSE on http but not https"
`http://.../?ModPagespeed=off` always works
`http://.../?ModPagespeed=on&ModPagespeedFilters=` only works the first time, always ERR_EMPTY_RESPONSE afterwards
`https://.../?ModPagespeed=on&ModPagespeedFilters=` always works

[code]

[code]

[2016-02-14 08:37] oschaaf commented on #1118
This looks like this issue: https://github.com/pagespeed/ngx_pagespeed/issues/1096
Which was resolved via https://github.com/pagespeed/ngx_pagespeed/pull/1098
Cherry-picking https://github.com/pagespeed/ngx_pagespeed/commit/b88e067c6d8173112d586fcdfe8d664c1226a00 should fix the problem

[2016-02-14 08:42] oschaaf commented on #1118
I double checked, but the fix is this is included in the upcoming release, so I am Closing this issue. Feel free to re-open if you still have a problem after patching in the commit I mentioned.

[2016-02-14 08:42] #1118 closed

[2016-02-14 16:31] daxthink opened #1119 "https://dl.google.com/dl/page-speed/psol/1.10.33.5.tar.gz not exist"
I see the .5 release, but
https://dl.google.com/dl/page-speed/psol/1.10.33.5.tar.gz not exist

[2016-02-14 18:48] oschaaf commented on #1119
Releases are announced at https://groups.google.com/forum/m/?fromgroups#!forum/ngx-pagespeed-announce , you are looking at a work in progress for the upcoming release. You can subscribe to that list to get notified about ngx_pagespeed releases.

[2016-02-14 18:52] #1119 closed

[2016-02-15 12:31] olavxxx commented on #1116
Also interested in this feature, compiling ngx_pagespeed was all but a breeze for 1.9.10

[2016-02-16 16:00] #1116 closed

[2016-02-16 22:12] team4music commented on #1117
Thanks for the info

[2016-02-17 02:10] dotsam opened #1120 "Old worker processes segfault on exit during reload"
Running pagespeed 1.10.34.5 with nginx 1.8.1 on CentOS 7, I'm getting a segfault on reload (SIGHUP). Backtrace points to a problem in ps_exit_child_process, which looks to have been changed in d7f1c0dc4817f153da29ced58882cb0bc9787c2c

Running the same exact config with 1.9.32.10 and there is no issue. All debug info below.

uname -a
`Linux 3.10.0-327.4.5.el7.x86_64 #1 SMP Mon Jan 25 22:07:14 UTC 2

[2016-02-17 03:02] yusn commented on #1117
@Angristan now 1.10.33.5 is released

[2016-02-17 06:41] centminmod opened #1121 "ngx_pagespeed 1.10.33.5 dynamic module compile failed"
* With CentOS 6.7 + ngx_pagespeed 1.10.33.5 + devtoolset-3 GCC 4.9.1, dynamic module compilation against Nginx 1.9.11 fails https://community.centminmod.com/posts/26773/. Gist of the failed compile's configure output https://gist.github.com/centminmod/d49f96d64d03ac2240ab with missing ngx_pagespeed.so
[code]
* However, static ngx_pagespeed 1.10.33.5 + devtoolset-3 GCC 4.9.1 on Nginx 1.9.11 + CentO

[2016-02-17 07:39] centminmod commented on #1121
could it be related to me using ccache compiler caching ?
[code]

[2016-02-17 07:41] oschaaf commented on #1121
@centminmod I'm building a centos VM too see if I can reproduce

[2016-02-17 07:46] centminmod commented on #1121
@oschaaf yeah CentOS 6.7 with devtoolset-3 + ccache compiler seems to be what is causing problem - updated some tests in above post HTH :)

[2016-02-17 07:47] oschaaf commented on #1120
@dotsam Are you able to reproduce this consistently? Could you post  or PM your (anonymized) `nginx.conf`?

[2016-02-17 08:13] centminmod commented on #1121
maybe instead of

[code]

use

[code]

[2016-02-17 08:31] centminmod commented on #1121
looks like even if remove ccache still problematic
`export CC="/opt/rh/devtoolset-3/root/usr/bin/gcc"`
[code]

[2016-02-17 08:38] oschaaf commented on #1117
The release may be near to completion, but I have not seen any announcement yet for 1.10.33.5 at https://groups.google.com/forum/#!forum/ngx-pagespeed-announce

[2016-02-17 10:09] xseven007 commented on #1121
I was configured it with
./configure --with-cc-opt='-g -O3 -pipe -march=native -msse4.2 -fPIE -fstack-protector-strong -Wformat -Werror=format-security -D_FORTIFY_SOURCE=2' --with-ld-opt='-Wl,-Bsymbolic-functions -fPIE -pie -Wl,-z,relro -Wl,-z,now' --prefix=/website/opt --modules-path=/website/opt/lib/nginx/modules --conf-path=/website/opt/etc/nginx/nginx.conf --http-log-path=/website/var/log/ngin

[2016-02-17 10:22] oschaaf commented on #1121
@xseven007  I think `ngx_pagespeed.so` files ends up in `modules/` directory in parallel to where you install `sbin/nginx`. So I do not expect it to be in `objs/`.

[2016-02-17 10:52] oschaaf commented on #1121
@centminmod

Please note that `1.10.33.5` has not been announced yet, and that the release branch for the that version does not seem to have a the correct patches for supporting dynamic modules.

Releases are announced here: https://groups.google.com/forum/#!forum/ngx-pagespeed-announce

[2016-02-17 11:19] oschaaf commented on #1120
Reproduced, this happens when ngx_pagespeed is completely turned off, at which point `cfg_m->driver_factory` is `NULL`.
Thanks for the report, I will send a pull request shortly to fix this.

[2016-02-17 12:11] xseven007 commented on #1121
@oschaaf I have found that there is not a ngx_pagespeed.so in any directory in the nginx's src directory or the sbin/nginx where I installed

[2016-02-17 12:13] oschaaf commented on #1121
@xseven007 No, I debugged a little but and understand why that is, see above, https://github.com/pagespeed/ngx_pagespeed/issues/1121#issuecomment-185151361

[2016-02-17 13:28] Angristan commented on #1117
It works with 1.9.11 now :D

[2016-02-17 14:45] centminmod commented on #1121
@oschaaf ah i thought it was officially released as it's published at https://developers.google.com/speed/pagespeed/module/release_notes#release_1.10.33.5-beta

[2016-02-17 14:50] crowell commented on #1121
The release is just about done, the packages and code are all available,
except the git tag hasn't been made yet, I'm working to get that out soon
(today)
On Feb 17, 2016 9:46 AM, "George Liu (eva2000)" <notifications@github.com>
wrote:

[2016-02-17 15:19] #1120 closed

[2016-02-17 20:43] batmike opened #1123 "Redirect URLs adding ",%20https://www.example.com""
With all pagespeed directives commented out, the issue does not occur but with only this one line:

`pagespeed FileCachePath /var/cache/ngx_pagespeed;`

the resulting redirected URLs on any sites run through the nginx instance end up coming out as https://www.example.com,%20https://www.example.com and some come out with that repeated multiple times over and over. This seems to only happen within S

[2016-02-17 20:50] oschaaf commented on #1123
This sounds like https://github.com/pagespeed/ngx_pagespeed/issues/1099
Should be fixed in 1.10.33.5 which came out today.
Closing this issue, but please re-open if you still see the problem with the latest release.

[2016-02-17 20:50] #1123 closed

[2016-02-17 21:00] centminmod commented on #1121
see 1.10.33.5 was announced, so this time tried on CentOS 7.2 and similar problem as above with ngx_pagespeed having difficulties with manipulating the $CC variable derived basename and dirname due to unexpected $CC values

[code]

[2016-02-17 21:20] batmike commented on #1123
I can confirm that fixed it. Updated to 1.10.33.5 and redirects are working as expected in Safari.

Thanks!

[2016-02-18 01:51] HansVanEijsden commented on #1064
After updating to 1.10.33.5 the issue still persists. I had to re-apply this patch to make it work.

[2016-02-18 10:31] oschaaf commented on #1121
@centminmod  /cc @crowell One thing I noticed is that the `config` file offered in https://github.com/pagespeed/ngx_pagespeed/archive/release-1.10.33.5-beta.zip differs from the tagged version (https://github.com/pagespeed/ngx_pagespeed/blob/4ec7afe5a8621a111b05ab2b42179cb623f19369/config)

With the version offered in the zip, I'm not able to build `ngx_pagespeed.so`, but when I pull in the tagged

[2016-02-18 14:14] centminmod commented on #1121
bit confused the tagged version is https://github.com/pagespeed/ngx_pagespeed/archive/release-1.10.33.5-beta.zip though ?

this is the download I am using
[code]

[2016-02-18 14:20] crowell commented on #1121
The release zip should be generated from the tag, I'm a bit confused as to
how this could be happening
On Feb 18, 2016 9:14 AM, "George Liu (eva2000)" <notifications@github.com>
wrote:

[2016-02-18 14:22] centminmod commented on #1121
strange indeed here's a rev diff of the different config files https://gist.github.com/centminmod/15bdaf8a5d8441377c34/revisions

[2016-02-18 15:25] crowell commented on #1121
@centminmod should be fixed, please try again!

[2016-02-18 17:24] centminmod commented on #1121
@crowell @oschaaf sweet goodness it works !

confirmed on CentOS 7.2 with Centmin Mod LEMP stack https://community.centminmod.com/posts/26842/ :+1:

[2016-02-18 17:33] oschaaf commented on #1121
@centminmod good to hear that it is working!

[2016-02-18 18:24] xjunior commented on #777
Thanks for the response, @jeffkaufman

[2016-02-18 19:27] centminmod commented on #1121
@oschaaf yup confirmed works on CentOS 6.7 too https://community.centminmod.com/posts/26858/ :)

[2016-02-18 23:53] hex0id commented on #1039
I confirm bug presents with thread_pool. In my case it was thread_pool iopool threads=32 max_queue=65536;

[2016-02-19 14:28] oschaaf commented on #1039
Our system tests fail as well with this configured:
[code]

At first sight, something seems wrong with range requests and IPRO

[2016-02-19 18:04] centminmod commented on #1064
I just switched to using downstream proxy cache and 1.10.33.5 as a dynamic module and seeing 3 sets of Vary: Accept-Encoding headers

and **yes only with rewritten pagespeed resources** as well

[code]

using CentOS 6.7 and 7.2 for my site at centminmod.com and I also have ngx_brotli and other modules enabled

I also have gzip_vary on only in http block and not each vhost block

[2016-02-19 18:32] oschaaf commented on #1064
For fixing this we would need to land https://github.com/pagespeed/ngx_pagespeed/pull/1105 (pending review) plus a commit on the mps side but I am not sure which one..

[2016-02-19 18:34] oschaaf commented on #1064
-ps- the patch link I posted in a gist above  (https://gist.github.com/oschaaf/c16c7458a57db4e94323) is similar to https://github.com/pagespeed/ngx_pagespeed/pull/1105 but adds  a temporary hack to make sure ngx_pagespeed only emits a single vary header when psol hands it more then one.

[2016-02-19 18:42] HansVanEijsden commented on #1064
I don't know if it's by purpose, but I receive Pingdom errors about Vary headers, because sometimes there are 2 different Vary headers at the same time: "Vary: Accept-Encoding" and "Vary: User-Agent".

HTTP/1.1 200 OK
Content-Type: text/css
Connection: keep-alive
Keep-Alive: timeout=300
Server: nginx
Access-Control-Allow-Origin: *
Accept-Ranges: bytes
X-Original-Content-Length: 4269
Vary: Accept-E

[2016-02-19 18:50] oschaaf commented on #1064
@HansVanEijsden As far as I know at the http level

[code]

means the same as

[code]

From https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

It MUST be possible to combine the multiple header fields into one "field-name: field-value" pair, without changing the semantics of the message, by appending each subsequent field-value to the first, each separated by a comma.

[2016-02-19 19:30] HansVanEijsden commented on #1064
@oschaaf thanks! I will pass that on to Pingdom.

[2016-02-19 20:36] centminmod opened #1124 "proxy_cache giving 404 on rewritten resources"
Using 1.10.33.5 dynamic module and nginx 1.9.11 with proxy cache downstream configured https://developers.google.com/speed/pagespeed/module/downstream-caching for both

* http://centminmod.com port 80
* https://centminmod.com port 443

I am only getting sometimes 404 errors on rewritten pagespeed resources over centminmod.com port 443 but not port 80

From https://developers.google.com/speed/pages

[2016-02-19 21:21] centminmod commented on #1124
Also if centminmod.com is on a cluster of servers behind route53 geo dns, would i need to set `proxy_cache_purge` to all the ips for all servers in the cluster ?

`proxy_cache_purge PURGE from 127.0.0.1 ip2 ip3 ip4;`

from

[2016-02-19 22:09] centminmod commented on #1107
@JoyceBabu where did you add `more_clear_headers 'X-Original-Content-Length'` ? i tried in proxy and backend server contexts and it's not clearing on 1.10.33.5 beta with nginx 1.9.11 ?

[2016-02-20 09:55] JoyceBabu commented on #1107
You need to set environment variable `POSITION_AUX` to `true` before running `./configure`.

    export POSITION_AUX=true

[2016-02-20 16:00] JoyceBabu opened #1126 "Pagespeed not rewriting some resources"
PageSpeed is not rewriting some resources on my site. If you visit

`http://m.prokerala.com/downloads/ringtones/download.php?id=501`

`http://s0.nxstatic.com/theme/electron/assets/js/common.min.js?_=20160220` is not rewritten. Whereas `http://s0.nxstatic.com/downloads/ringtones/assets/js/electron.min.js?_=20160220` is rewritten correctly.

I have seen this happen with other files too.

[2016-02-20 16:31] oschaaf commented on #1126
Could you turn on the debug filter?:

[code]

That will make PageSpeed write debug comments about it's decisions around optimization, hopefully it will emit useful diagnostic information in your case.

[2016-02-20 16:47] JoyceBabu commented on #1126
Thank you oschaaf. I enabled the filter on my local machine using docker, and got the following message

[2016-02-20 16:49] oschaaf commented on #1126
I think that is because it contains introspective javascript.
See https://developers.google.com/speed/pagespeed/module/restricting_urls#aris

Closing this issue, but feel free to re-open if you think there still is a problem.

[2016-02-20 16:49] #1126 closed

[2016-02-20 16:50] JoyceBabu commented on #1126
I have extend_cache enabled. So shouldn't the file be rewritten even if PS is unable to optimize the file?

[2016-02-20 17:09] JoyceBabu commented on #1126
Thank you @oschaaf. There was a `document.getElementsByTagName("script")` call in the above mentioned script which was triggering the introspective javascript test.

[2016-02-21 21:03] centminmod opened #1127 "Chrome Canary 50 Refused to execute script when downstream proxy cache used"
With nginx 1.9.11 and 1.10.33.5 dynamic module compiled on CentOS 6.7 and 7.2 and proxy_cache downstream caching configured I get the following errors for https://centminmod.com site in Chrome 50 Canary console with broken js and css but only if i use a upstream with load balanced backends and not an upstream with a single backend

[code]

[code]

if i use single backend I don't get these console

[2016-02-22 08:54] oschaaf commented on #1127
If you query both backends directly for `/js/jquery.min.js`, does one of them respond with `Content-Type: text/html` in the response headers?

[2016-02-22 11:27] centminmod commented on #1127
strangely they return back the correct MIME type so no idea

in Chrome 50 Canary it seems to work now though for some reason ? is ` strict MIME type checking is enabled` a new Canary feature ?

[code]

[2016-02-22 11:32] centminmod commented on #1107
thanks @JoyceBabu does this reorder the headers more nginx module after the ngx_pagespeed module so that more_clear_headers works ?

[2016-02-22 18:35] centminmod opened #1128 "smarter geodns latency memcached backend option ?"
For one of my sites it runs across 16+ VPS servers in dozens of countries from Asia, Europe, Australia and US West and US East coast via Amazon Route53 geo latency dns. It runs my own [Centmin Mod LEMP stack](http://centminmod.com) with ngx_pagespeed integrated and enabled. Previously, each was stand alone with each ngx_pagespeed instance on each VPS talking to local memcached
[code]
But now I am

[2016-02-22 18:53] isaumya opened #1129 "CSS, JS not combing & Images are not rewriting"
Hi,
I'm very new to this pagespeed game and I do admit that I do not have much experience with it. I've recently moved my site to a nginx vps and asked my host to install page-speed in it, so he did. But even after reading most google pagespeed docs, and adding various filters in my `pagespeed.conf`, when I look at the source code of my site, I do see some pagespeed features are working but most t

[2016-02-22 20:57] oschaaf commented on #1129
Via
[code]

I see a lot of these comments from pagespeed, which explains why there's almost no optimization going on:
[code]

It  looks like pagespeed is not able to fetch files from your server and receives 404 responses.
Do you see requests in the access logs from a user-agent that mentions pagespeed? I see you commented `MapOriginDomain`,  I think mapping https->http fails because http redirect

[2016-02-22 21:09] isaumya commented on #1129
Hi @oschaaf,
Thanks for your reply. I have no idea why it is getting 404 on the css files. If you open the the css path, you can clearly see the files exists

Also I disabled `pagespeed MapOriginDomain "http://208.117.38.82" "https://www.isaumya.com";` is because after adding it, nothing was changed. Now I've added the `pagespeed Domain` too but still nothings happening. The reason I dont wanna fe

[2016-02-22 21:36] oschaaf commented on #1129
[code]

Fetching from http://208.117.38.82 would not work, because that lands on the default host for the server.
But even when you would correct that, the http://www.isaumya.com cannot be used to fetch from as it redirects all requests to https. PageSpeed's fetcher will not be able to understand and follow these redirects(yet).
So it's either setting up `LoadFromFile` or debugging the SSL fetch f

[2016-02-22 21:48] isaumya commented on #1129
You are right. After doing this following pagespeed is working fine in both my main doamin with ssl and the subdomains. All features are working quite fine.

[code]

But I do see some anomalies. Like in my website the images that are used within srcset are not getting rewrited or changed to webp. Also at the footer of the website the image I have of Bigscoots it is also showing in png instead of w

[2016-02-22 21:58] oschaaf commented on #1129
@isaumya Great to hear on your progress - but:

Please take a good look at https://developers.google.com/speed/pagespeed/module/domains#risks and restrict what gets loaded via `LoadFromFile`. You want to make sure only static files can be loaded in this manner.

E.g. I would suggest doing something like:
[code]

[2016-02-22 22:05] isaumya commented on #1129
Thanks for your help again. But have you checked that the images under `srcset` are not getting rewrited by pagespeed. Also the image at the footer is not getting rewrited by pagespeed. Any idea why?

[2016-02-22 22:15] oschaaf commented on #1129
1. `srcset` attibributes can be generated  by pagespeed but the attribute's value does not (yet) get parsed and optimized.
2. Assuming you are referencing `bigscoots_logo_250.png`, it is optimized now. PageSpeed sometimes needs a few browser refreshes before the page is fully optimized.

[2016-02-22 22:26] oschaaf commented on #1107
@centminmod `POSITION_AUX=true`  does reposition ngx_pagespeed in the module order, but be aware that doing so does not have a lot of production mileage so please keep an eye on things.

[2016-02-22 22:33] oschaaf commented on #1129
Seems we're all set, closing this.

[2016-02-22 22:33] #1129 closed

[2016-02-23 02:23] centminmod opened #1131 "nginx 1.9.11 + 1.10.33.5 beta NgxFetch failed to resolve host [localhost]"
Getting this is message log with nginx 1.9.11 + 1.10.33.5 beta as a dynamic module with downstream caching configured
[code]

[2016-02-23 05:24] isaumya commented on #1129
Thanks for all your help :smile:

[2016-02-23 05:35] isaumya opened #1132 "Reusing shared memory for path issue"
Hi in my message history I'm seeing these notices quite often. After reporting this to my host he thought it might be some similar issues like https://github.com/pagespeed/ngx_pagespeed/issues/154
So he pushed the fix mentioned there, but I'm still seeing these messages on my message history. http://vps.isaumya.com/pagespeed_admin/message_history

Does anyone know a fix of this?

[code]

Also in s

[2016-02-23 07:01] oschaaf commented on #1131
The dns resolver that the native fetcher is configured to use is not able to resolve `localhost`.
If you want `/etc/hosts` to be considered while resolving, you could take a look at `dnsmasq`.

[2016-02-23 07:01] #1131 closed

[2016-02-23 07:12] oschaaf commented on #1132
I don't think there  is anything to fix. The message log lines you posted are all informational. Out of curiosity, how did you and your host jump to the conclusion that there was a problem?

`too busy to rewrite image` happens when pagespeed throttles the amount of images that are rewritten at the same moment:
https://developers.google.com/speed/pagespeed/module/system#image_rewrite_max

[2016-02-23 08:01] isaumya commented on #1132
My host didn't think it is a issue. I thought it was.

Thanks for the link. I read it now. So, as it keeps the number of image optimizaed at a time to 8. Do you think I should increase it?

Here is my server config:

1536 MB RAM
2 CPU available.

[2016-02-23 08:31] oschaaf commented on #1132
I think you're ok with the defaults, but looking at http://vps.isaumya.com/pagespeed_global_admin/statistics, there's a counter called `image_rewrites_dropped_due_to_load`.  That counter should stop increasing fairly quickly as optimizations are cached - if it doesn't the cache may be sized too small.

[2016-02-23 08:37] isaumya commented on #1132
Thank you for all your helps :)

[2016-02-23 08:37] #1132 closed

[2016-02-23 12:30] centminmod commented on #1107
thanks @oschaaf for now i think i'll keep the header intact

[2016-02-23 12:34] centminmod commented on #1131
i changed the `DownstreamCachePurgeLocationPrefix` from localhost to `http://centminmod.com:80` and seems to work now ? that suggests it's working ?
[code]

[2016-02-23 16:31] centminmod commented on #1128
maybe extend `pagespeed MemcachedServers` to support script variables https://developers.google.com/speed/pagespeed/module/system#nginx_script_variables ?

[2016-02-23 17:38] centminmod opened #1133 "memcached stats with nginx 1.9.11 and 1.10.33.5 dynamic module"
I use to see memcached stats in global general stats area prior to update to nginx 1.9.11 and 1.10.33.5 but now turned on per vhost stats and they're always 0 in per vhost statistics ?
[code]
but in physical caches console it shows up as
[code]
nothing else on the servers uses memcached, so it's all ngx_pagespeed

but `/pagespeed_global_admin/statistics` global stats shows memcached stats
[code]
i

[2016-02-24 01:00] centminmod opened #1134 "console message history - add inverse filter to hide keywords"
As per @jmarantz request from https://groups.google.com/forum/#!topic/ngx-pagespeed-discuss/hYhqkfIG4L4

would be great if console message history field can do something similar to google search with `-keyword` to exclude from display the specific keyword or phrase

i.e. hide `No permission to rewrite` messages with

[code]

[2016-02-24 10:39] oschaaf commented on #1131
That looks good to me. To validate the PURGE is processed OK, you could check the access log to see what kind of http response code was written in response. But I think pagespeed would have complained if that did not look good.

[2016-02-24 11:00] oschaaf commented on #1133
@centminmod RE: "is memcached stats only available in global statistics and not in per vhost stats"

That is correct. When you have the same memcached configuration set up for different vhosts/server{} blocks, the underlying code (and vhosts) will share the same memcached client. Hence any statistics for that are tracked at the global level, and not per-vhost.

I'm closing this issue, assuming you

[2016-02-24 11:00] #1133 closed

[2016-02-24 11:07] oschaaf commented on #1127
I don't think mime type checking is new.
We should look at why the .js files are serving `content-type: text/html` sometimes. The desired response would have `content-type:application/javascript; charset=utf-8`.
Are you still observing this behavior? Does the problem go away if you take out `ngx_pagespeed`?

[2016-02-24 11:37] oschaaf commented on #1124
@centminmod

Re: DownstreamCacheRebeaconingKey
I think you can share the same key for http and https.

Re: DownstreamCachePurgeLocationPrefix
Looks good to me, but I'm wondering what you are precisely doing for https. Are you de-encryping at the proxy and re-encryping when you go to the backend?

Re: LoadFromFile
If optimization doesn't work without LoadFromFile, pagespeed's http fetching is faili

[2016-02-24 11:37] #1124 closed

[2016-02-24 14:30] centminmod commented on #1127
i'm not seeing it anymore, it was that one time only but i have switched back to single backup upstream now. I haven't retried multiple backup load balanced upstreams yet as it could be related to my memcached setup https://github.com/pagespeed/ngx_pagespeed/issues/1128 ?

maybe ngx_pagespeed could have a separate persistent log file it can configure to record the mime type and headers served via

[2016-02-24 17:37] bcdonadio opened #1135 "Instructions for building as a dynamic module"
The commit fbde0ace7e468adea95a7912a24da8fff14e6cb4 added support for build ngx_pagespeed as a dynamic nginx module. There are already instructions for this way of building? The main documentation stills instructs to build as a static module.

[2016-02-24 19:08] crowell commented on #1082
@centminmod sorry for the delay on this.

I've tried with building clang 3.7, with using devtoolset and with gcc5 compiled from source.

Each time it seems like the __init_array isn't populated when using clang. I'm opening a bug with clang to track this (maybe it's still our fault, but I'm not convinced otherwise).

[2016-02-24 20:17] oschaaf commented on #1135
You can build ngx_pagespeed by using `--add-dynamic-module=` instead of using `--add-module`.
So you would use something like:

[code]

After running `make` and `make install` the dynamic `ngx_pagespeed.so` module  should be located in the `modules` directory which resides in parallel to `sbin` where the nginx binary lives.

Subsequently you should be able to load ngx_pagespeed as a dynamic module

[2016-02-24 21:41] crowell commented on #1082
bug i opened on llvm's bugtracker https://llvm.org/bugs/show_bug.cgi?id=26727

[2016-02-24 23:24] centminmod commented on #1121
seems updated to 1.9.12 and still get minor problem with dirname determination due to ccache set in $CC variable
[code]

[2016-02-25 07:54] centminmod commented on #1082
@crowell cheers much appreciated - fingers crossed :)

[2016-02-25 08:54] isaumya commented on #354
So page speed doesn't support IPV6 yet? Is this the reason even though I have IPV6 AAAA record in my dns when I test my site I see this:
![2016-02-25_14-14-06](https://cloud.githubusercontent.com/assets/2124755/13314489/7b0379e2-dbcb-11e5-9a48-fb52f6a28c95.jpg)

[2016-02-25 09:01] kiranchari opened #1136 "building PSOL from source"
I'm following instructions given here: https://github.com/pagespeed/ngx_pagespeed/wiki/Building-PSOL-From-Source

Running "gclient sync --force --jobs=1" causes the following error even though I have gcc-4.8 installed in the system (Ubuntu 10.04 LTS):

ERROR:
_gyp: Call to 'echo gcc \< 4.8 is too old and no longer supported; false' returned exit status 1.
Error: Command '/usr/local/bin/python src/

[2016-02-25 09:52] oschaaf commented on #354
@isaumya  Failing that test is not related to this issue or pagespeed in general. I suspect your nginx instance is not set up to listen on ipv6.

[2016-02-25 10:38] oschaaf commented on #1121
@centminmod
Is `export CC="ccache /path/to/gcc"` all that is needed for reproducing the `dirname: extra operand` message?
Do you, by chance, have a fix you can propose?

[2016-02-25 12:00] isaumya commented on #354
@oschaaf Thanks buddy. I've already passed this to my host. Just wanted to make sure if this is something pagespeed related.

[2016-02-25 14:03] crowell commented on #1136
The GCC 4.8 binary should be in your path as gcc or set as the CC variable.  Also 10.04 is no longer supported by canonical and you should probably not use it for security reasons

[2016-02-25 14:44] jmarantz commented on #1134
potential workaround:
  use 'wget' and some filtering.
e.g.
wget -q modpagespeed.com/pagespeed_admin/message_history -O - |  \
   fgrep '<pre ' | \
   cut -c24- |  \
   sed -e 's@</pre>@@'

The exact filtering here to extract the contents and exclude the other markup (menus etc) might change from release to release, so clearly we need a supported solution.

But would this be sufficient for the sho

[2016-02-25 18:07] isaumya commented on #777
+1 Looking forward to this fix

[2016-02-25 23:02] centminmod commented on #1121
well yes the problem with dirname seems to specifically related to ccache in front and centos 6.x and centos 7.x

[code]
[code]
[code]
on CentOS 6.7 results in
[code]
on CentOS 7.2 results in
[code]

maybe hacky approach would be to check if ccache is installed or in use and strip it from $CC first ?
[code]

[2016-02-26 01:39] aceslup commented on #1117
Hi @jeffkaufman，gcc4.4，nginx1.9.11/12，PageSpeed1.9.32.13，Compilation Error。
This is part of the error：
configuring additional modules
adding module in /usr/local/src/ngx_pagespeed-1.9.32.13-beta
mod_pagespeed_dir=/usr/local/src/ngx_pagespeed-1.9.32.13-beta/psol/include
build_from_source=false
checking for psol ... found
sed: -e expression #1, char 0: no previous regular expression
sed: -e expressi

[2016-02-26 01:46] crowell commented on #1117
@aceslup can you paste the whole error log from objs/error.log to gist.github.com and paste the link here?

[2016-02-26 04:27] centminmod commented on #1121
Also why not just grab the environment `g++` and use that instead of using basename and dirname ?

On CentOS 6.7 without devtoolset-3 GCC 4.9.1 and with
[code]
[code]
or just sed replace gcc with g++ in CC variable without using dirname and basename ?
[code]
[code]

[2016-02-26 11:41] oschaaf opened #1137 "Improve error message when building for Tengine with an unsupported GCC version"
From https://groups.google.com/forum/#!topic/ngx-pagespeed-discuss/LDYfasWzTqo

[code]

I would be nice if we could state that another gcc version is required (like we do for nginx) instead of the vague error that gets emitted.

[2016-02-26 19:48] oschaaf commented on #1121
@morlovich See above, the way we use `dirname` seems to break when `ccache` is involved. Do you have any thoughts on the suggestions @centminmod made?

[2016-02-26 20:31] morlovich commented on #1121
Thanks for pinging me. Should probably just be dirname "$CC", and likewise for basename?

The reason we don't grab g++ is that we would like clang to work, though that seems to have other troubles.

[2016-02-27 20:32] oschaaf opened #1138 "IPRO responses sometimes forward a bad cache control value"
Cloudflare sometimes shows an error page when serving an mp3 file. It does so when it receives a bad header that looks like: `Cache-Control: ?ax-age`, as seen in `error.log`.

The server is running ngx_pagespeed 1.10.33.5

[2016-02-27 20:33] oschaaf commented on #1138
Initial report from ngx-pagespeed-discuss: https://groups.google.com/forum/#!topic/ngx-pagespeed-discuss/3cfPz35acRM

[2016-02-27 20:36] oschaaf commented on #1138
The bad cache control header is emitted when we hit the flow where IPRO does not find a cache entry and subsequently starts recording the response. In this flow the original cache-control header is passed on which is owned by an `NgxBaseFetch` instance that will be released the passed on string is put on the wire. The fix is to copy the value, pull coming up.

[2016-02-27 21:04] oschaaf commented on #1039
I've been looking into this. I think the bug has a relation with the IPRO recording flow indicating that we need to have the filter response buffered, but the IPRO body filter may not be doing the right thing for that when threading is enabled.
One interesting observation is that when the gzip filter runs after us and does process our buffers, the response will turn out to be OK. So to fix this, w

[2016-02-27 21:23] jmarantz commented on #1039
What exactly is it that the threadpool in nginx does?  I had thought nginx
was mostly running without threads; only a few processes and lots of
asynchronous networking.

Is it adding a few threads listening to sockets in each process, similar to
Apache's worker mpm?

-Josh

On Sat, Feb 27, 2016 at 4:04 PM, Otto van der Schaaf <
notifications@github.com> wrote:

[2016-02-27 21:24] jmarantz commented on #1138
Thanks for tracking this down, Otto.  Is this related to specifying a threadpool in nginx?

[2016-02-27 21:48] oschaaf commented on #1138
@jmarantz No this is unrelated to specifying a threadpool in nginx, though I was looking into both things at the same time because initially I though they might be related.

[2016-02-27 22:01] oschaaf commented on #1039
@jmarantz See https://www.nginx.com/blog/thread-pools-boost-performance-9x/

I think the thread pools are used to execute wrappers around blocking system calls (readfile, sendfile).
I'm not sure how often thread pools are used in practice, but we're not behaving nicely currently when they are enabled. I think it would be good to at least warn upon seeing a configuration that enables thread pools -

[2016-02-28 07:19] jdelgad opened #1140 "Redirects appear to cause crash on nginx 1.9.12 with pagespeed 1.10.33.5-beta"
This may be related to https://github.com/pagespeed/ngx_pagespeed/issues/1081

Server is running CentOS 7 with the latest patches. We use TLS with a certificate from LetsEncrypt. Running php 5.4 and using Xenforo forum software. We do redirection for XXX.com to www.XXX.com (anonymizing our site, but probably very poorly) for both http and https. http2 is supported.

As you'll see I do my best to o

[2016-02-28 07:23] jdelgad commented on #1140
nginx -V
[code]

[2016-02-28 07:56] oschaaf commented on #1140
@jdelgad This should be fixed on trunk-tracking via these commits:

https://github.com/pagespeed/ngx_pagespeed/commit/b88e067c6d8173112d586fcdfe8d664c1226a00d
https://github.com/pagespeed/ngx_pagespeed/commit/60c1f4cc4e58493be12e2c5861a5eb6aafb752c6

You could try cherry-picking them, it looks like they are not included in `1.10.33.5-beta`

[2016-02-28 09:34] jdelgad commented on #1140
Thanks for the quick reply @oschaaf. I've implemented the changes and will let you know if it works. I'll know by the end of tomorrow.

[2016-02-28 17:59] jdelgad commented on #1140
I'm getting these errors. It ended up filling up my partitions to 100%

[code]

[2016-02-28 18:02] jdelgad commented on #1140
Here is the file after I merged. Just to eliminate a bad merge.

[code]

[2016-02-28 19:34] oschaaf commented on #1140
@jdelgad Oops, I ran a comparison, I see I missed a commit that you would have needed to cherry-pick. I'm sorry!

To make this as easy as possible, I suggest you should just overwrite your version with the `trunk-tracking` version of `ngx_base_fetch.cc` which includes all required changes:

https://raw.githubusercontent.com/pagespeed/ngx_pagespeed/trunk-tracking/src/ngx_base_fetch.cc

[2016-03-02 12:49] creativeprogramming commented on #1140
I confirm the issue is back:

Will you do another PR to be merged?

[2016-03-02 13:04] creativeprogramming commented on #1140
Wait, it seems this time the fix doesn't solve

[2016-03-02 13:12] oschaaf commented on #1140
@creativeprogramming Which fix did you apply?

[2016-03-02 13:40] creativeprogramming commented on #1140
No sorry I was wrong, i didn't really applied it before ... now yes, and it seems it solves..   (I applied the https://raw.githubusercontent.com/pagespeed/ngx_pagespeed/trunk-tracking/src/ngx_base_fetch.cc)

[2016-03-02 15:43] creativeprogramming commented on #1140
Ok, running it in production (with 250+ pageviews/minute) for 2 hours with the patch applied and no crash or error. Will it be merged?

[2016-03-02 15:47] creativeprogramming commented on #1140
That fix is seriously needed for me, as I get the site down in few minutes without it.

`nginx version: nginx/1.9.4
built by gcc 4.9.2 (Ubuntu 4.9.2-10ubuntu13)
built with OpenSSL 1.0.2e 3 Dec 2015
TLS SNI support enabled
configure arguments: --with-threads --with-google_perftools_module --with-pcre --with-pcre-jit --with-ld-opt='-Wl,-z,relro -Wl,-E' --with-cc-opt='-D FD_SETSIZE=40048 -O2 -g -pipe

[2016-03-02 17:23] WesCossick commented on #725
From my testing, the duplicate location header problem occurred in `1.10.33.4` but works in `1.10.33.5`.

[2016-03-02 17:30] creativeprogramming commented on #1059
very useful @deweydb  thank you

[2016-03-02 17:51] nikolay commented on #1140
@oschaaf Yeah, why don't you guys push this into a hotfix release? It's big enough to warrant it.

[2016-03-02 19:46] jeffkaufman commented on #1140
@oschaaf Which commit is missing from 1.10.33.5 that gives us these crashes?

[2016-03-02 20:44] oschaaf commented on #1140
@jeffkaufman https://github.com/pagespeed/ngx_pagespeed/commit/1964ef5219cc6585ced45662e38dce09dde518df
But https://github.com/pagespeed/ngx_pagespeed/commit/b88e067c6d8173112d586fcdfe8d664c1226a00d
and https://github.com/pagespeed/ngx_pagespeed/commit/60c1f4cc4e58493be12e2c5861a5eb6aafb752c6 would also be good to have.

I'm a bit confused, I thought they where included, and also https://developer

[2016-03-02 20:58] oschaaf commented on #725
@WesCossick Correct, see the release notes at https://developers.google.com/speed/pagespeed/module/release_notes#release_1.10.33.5-beta

[2016-03-02 21:04] jeffkaufman commented on #1140
@oschaaf Yes, those commits are supposed to be in 1.10.33.5, but they're not there.  Still trying to figure out why.

[2016-03-02 21:14] jeffkaufman commented on #1140
Figured it out.  I had a draft of branch `release-1.10.33.5-beta` on github that pointed to
https://github.com/pagespeed/ngx_pagespeed/commits/ed5b23dc563493163a8bdbc27bb9e7de166b5fc2 and then I was out of the office for two weeks.  I handed off the release to @crowell who needed to cherry-pick @oschaaf 's fbde0ace7e468adea95a7912a24da8fff14e6cb4 to add it to the release, and he thought I had left

[2016-03-03 10:11] macbobby commented on #1099
Do have to clear pagespeed Filecache that the fix is working for me?

[2016-03-03 10:25] oschaaf commented on #1099
@macbobby I do not think so, what kind of trouble are you having? Do you have a url?

[2016-03-03 10:30] macbobby commented on #1099
No, not atm. But still having to location header lines
![double_location_headers](https://cloud.githubusercontent.com/assets/2699492/13491560/48757440-e133-11e5-8ba0-136f9a8c93a3.png)

[2016-03-03 10:35] oschaaf commented on #1099
@macbobby which ngx_pagespeed & nginx version? `release-1.10.33.5-beta` was confirmed multiple times to have fixed the issue, but perhaps you are running into another route where you end up with multiple location headers?

[2016-03-03 10:45] oschaaf commented on #1121
@morlovich what about this suggestion from @centminmod:

[code]

Just stripping `ccache` from `$CC` would fix the problem he's seeing, but I'm not sure if people stuff any other things in $CC that would break our usage of `dirname` (which is getting more arguments then it is expecting when `ccache` is involved).

[2016-03-03 11:15] macbobby commented on #1099
OK, had a bug while downloading correct version. Worked vor me now.

[2016-03-03 11:19] oschaaf commented on #1099
@macbobby  Thanks for confirming

[2016-03-03 17:35] jeffkaufman commented on #1121
What if we raised an error if we found spaces in `$CC`, and asked people to run us with `CC=gcc`?

[2016-03-03 18:48] jeffkaufman commented on #1138
Fixed with #1139 and 5264647a658712f2701cf19e3fb3d9269c262682

[2016-03-03 18:48] #1138 closed

[2016-03-03 23:55] deweydb commented on #1084
I'm now getting this bug happening in other browsers, like Google Chrome desktop

`Uncaught QuotaExceededError: Failed to execute 'setItem' on 'Storage': Setting the value of 'pagespeed_lsc_url:https://bid13.com/sites/default/files/imagecache/product_list/19-1_0.jpg pagespeed_lsc_hash:FceD9qKAq8' exceeded the quota.`

[2016-03-04 00:09] deweydb opened #1141 "Cache purge doesn't actually purge the cache"
First i check the size of cache:
du -h /var/ngx_pagespeed_cache/ 
...
135M    /var/ngx_pagespeed_cache/

Then I visit: /pagespeed_admin/cache?purge=*

This page tells me: Purge successful
Then i check again:
du -h /var/ngx_pagespeed_cache/
...
135M    /var/ngx_pagespeed_cache/

nothing purged.

[2016-03-04 01:31] hex0id commented on #1039
in addition - I was totally fine before upgrading nginx / pagespeed.
versions listed above.

On Saturday, February 27, 2016, Otto van der Schaaf <
notifications@github.com> wrote:

--
Regards, Alex.

[2016-03-04 07:10] deweydb commented on #1064
Sorry for the super noob question but how do i apply this patch without it failing?

`root@localhost:/root/nginx/nginx_modules/ngx_pagespeed# git apply -v multiple-vary-hans-hotfix.patch
multiple-vary-hans-hotfix.patch:20: trailing whitespace.
      // TODO(oschaaf): temporary hack to prevent cascading that PSOL emits
Checking patch src/ngx_pagespeed.cc...
error: while searching for:
  for (i = 0

[2016-03-04 07:41] #1141 closed

[2016-03-04 07:49] deweydb opened #1142 "How to enable Gzip compression of pagespeed concatenated CSS?"
`curl -H 'Accept-encoding: gzip' "https://bid13.com/sites/A.all,,_modules,,_admin_menu,,_admin_menu.css,,q2+default,,_files,,_css,,_css_e95c6ea704b78c593760182162122319.css,Mcc.DBCpIWPb-N.css.pagespeed.cf.HegdJuwYto.css"
`
Gives a plaintext response.

As otto points out that this should just work with no gzip settings at all in nginx:
http://serverfault.com/questions/543009/how-do-i-enable-gzip-co

[2016-03-04 08:06] deweydb commented on #1142
Update, I disabled the filter: "combine_css" and now the gzip is working correctly for CSS. but it would be nice if i could leave that filter on.

[2016-03-04 12:55] HansVanEijsden commented on #1064
@deweydb there are no stupid questions, only stupid answers.

I do it like this:
First I go to the source folder (cd ngx_pagespeed-release-1.10.33.6-beta) and then I download the patch there (wget https://gist.githubusercontent.com/oschaaf/c16c7458a57db4e94323/raw/a659f3809b22a89b49cd647d5466ab8f8fa66dad/multiple-vary-hans-hotfix.patch).
Then I apply the patch (patch -p1 < multiple-vary-hans-hotfi

[2016-03-04 18:07] jeffkaufman commented on #1140
1.0.33.6 is out now

[2016-03-04 18:07] #1140 closed

[2016-03-04 18:32] oschaaf commented on #1142
@deweydb When I add a real user-agent to the requests the css responses do get gzip-encoded:

[code]

Querying the same file without specifying a real browser user-agent, I can reproduce that there is no gzip compression applied to the response.  @jeffkaufman do you know if this is a design choice around PageSpeed's capability for serving compressed .pagespeed. resources?

I cannot reproduce gzip

[2016-03-04 18:34] deweydb commented on #1142
Oh! so that makes a bit of sense then.  The issue i ran into is that my CDN is proxying those files, and i don't think the CDN uses a real browser user agent to request from my server.

[2016-03-04 18:39] jeffkaufman commented on #1142
When I try this manually I'm getting non-gzipped body with "Content-Encoding: gzip" in the headers:

[code]

[2016-03-04 18:41] deweydb commented on #1142
@jeffkaufman ... right. this is exactly my issue.  But i don't know why this only happens when i have the 'combine_css' filter enabled?

[2016-03-04 18:41] jeffkaufman commented on #1142
@crowell could you look at this?

[2016-03-04 18:43] crowell commented on #1142
sure, i'll try to see what's up

[2016-03-04 22:01] oschaaf commented on #1039
I ran a few manual tests with ngx_pagespeed 1.10.33.6 + nginx's thread pools:
- this seems to work ok on nginx's 1.8 branch
- but this combination seems to break with nginx's master branch

So I think either something is wrong in the way we set up our build in `config` for newer nginx versions (https://github.com/pagespeed/ngx_pagespeed/commit/09f53881de3bfe548d73d928a53283e72ca06310) , or nginx m

[2016-03-04 22:09] oschaaf commented on #1039
So I'd thought I'd take a peek at the history of nginx's copy filter module to see what changed, and noticed this commit from yesterday:
https://github.com/nginx/nginx/commit/00fcc6a987f1d45a9eac91242de7e3527451242e

I was on a slightly older commit :-(
Sounds like something that may fix this, I'll try that.

[2016-03-04 22:16] oschaaf commented on #1039
Indeed nginx/nginx@00fcc6a seems to fix the problem for me. @slavonnet @hex0id do you still experience trouble  if you run a version of nginx that includes https://github.com/nginx/nginx/commit/00fcc6a987f1d45a9eac91242de7e3527451242e when using `thread_pool`?

[2016-03-05 17:24] pefoley2 opened #1143 "PageSpeed console totally blank in global_admin"
When looking at the console (https://<domain>/pagespeed_global_admin/console), I get an entirely blank white page.
Statistics, StatisticsLogging, and LogDir are all enabled in the nginx config and there are files in the logdir.
All the other pages seem to work fine, and there are no errors in the js console.

[2016-03-05 18:43] oschaaf commented on #1143
Hi, this is a known issue and is being tracked at https://github.com/pagespeed/mod_pagespeed/issues/1214

(Awkward) workaround you could use: load the console page, and subsequently enter this in the url bar:
[code]

Closing this as a duplicate

[2016-03-05 18:43] #1143 closed

[2016-03-06 20:51] isaumya opened #1144 "Doesn't combilne JS if has text/javascript directive in it"
Hi,
as I use pagespeed on a wordpress site, I've found something.I've seen that pagespeed doesn't combine JS files with has `type='text/javascript'` directive in it. Like the following URLs:

[code]

I don't know if this is a bug or something else. But as I found it so I shared it.

[2016-03-07 16:32] jeffkaufman commented on #1144
Are you sure that's why the combining isn't happening?  Here's a demo of a page where there's `type='text/javascript'` but it's combining properly: http://www.jefftk.com/text-javascript-demo?PageSpeedFilters=combine_javascript

My guess is that it's something else, and if you add `?PageSpeedFilters=+debug` to your url and view source, PageSpeed should insert html comments to tell you what's going

[2016-03-07 18:47] isaumya commented on #1144
Thanks @jeffkaufman for the reply. Here is the crazy part. When I tried to see the source with `?PageSpeedFilters=+debug` it shows all js combined but when I see the page source without `?PageSpeedFilters=+debug` I see all JS getting combined except the one mentioned within `type='text/javascript'` (you can see it almost at the end of the view source.

Check out yourself:

view-source:https://www.